/*
NetBox API

API to access NetBox

API version: 2.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// DcimApiService DcimApi service
type DcimApiService service

type ApiDcimCablesBulkDeleteRequest struct {
	ctx context.Context
	ApiService *DcimApiService
}

func (r ApiDcimCablesBulkDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DcimCablesBulkDeleteExecute(r)
}

/*
DcimCablesBulkDelete Method for DcimCablesBulkDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimCablesBulkDeleteRequest
*/
func (a *DcimApiService) DcimCablesBulkDelete(ctx context.Context) ApiDcimCablesBulkDeleteRequest {
	return ApiDcimCablesBulkDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DcimApiService) DcimCablesBulkDeleteExecute(r ApiDcimCablesBulkDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesBulkDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDcimCablesBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	data *WritableCable
}

func (r ApiDcimCablesBulkPartialUpdateRequest) Data(data WritableCable) ApiDcimCablesBulkPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimCablesBulkPartialUpdateRequest) Execute() (*Cable, *http.Response, error) {
	return r.ApiService.DcimCablesBulkPartialUpdateExecute(r)
}

/*
DcimCablesBulkPartialUpdate Method for DcimCablesBulkPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimCablesBulkPartialUpdateRequest
*/
func (a *DcimApiService) DcimCablesBulkPartialUpdate(ctx context.Context) ApiDcimCablesBulkPartialUpdateRequest {
	return ApiDcimCablesBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Cable
func (a *DcimApiService) DcimCablesBulkPartialUpdateExecute(r ApiDcimCablesBulkPartialUpdateRequest) (*Cable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Cable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimCablesBulkUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	data *WritableCable
}

func (r ApiDcimCablesBulkUpdateRequest) Data(data WritableCable) ApiDcimCablesBulkUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimCablesBulkUpdateRequest) Execute() (*Cable, *http.Response, error) {
	return r.ApiService.DcimCablesBulkUpdateExecute(r)
}

/*
DcimCablesBulkUpdate Method for DcimCablesBulkUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimCablesBulkUpdateRequest
*/
func (a *DcimApiService) DcimCablesBulkUpdate(ctx context.Context) ApiDcimCablesBulkUpdateRequest {
	return ApiDcimCablesBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Cable
func (a *DcimApiService) DcimCablesBulkUpdateExecute(r ApiDcimCablesBulkUpdateRequest) (*Cable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Cable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimCablesCreateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	data *WritableCable
}

func (r ApiDcimCablesCreateRequest) Data(data WritableCable) ApiDcimCablesCreateRequest {
	r.data = &data
	return r
}

func (r ApiDcimCablesCreateRequest) Execute() (*Cable, *http.Response, error) {
	return r.ApiService.DcimCablesCreateExecute(r)
}

/*
DcimCablesCreate Method for DcimCablesCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimCablesCreateRequest
*/
func (a *DcimApiService) DcimCablesCreate(ctx context.Context) ApiDcimCablesCreateRequest {
	return ApiDcimCablesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Cable
func (a *DcimApiService) DcimCablesCreateExecute(r ApiDcimCablesCreateRequest) (*Cable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Cable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimCablesDeleteRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
}

func (r ApiDcimCablesDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DcimCablesDeleteExecute(r)
}

/*
DcimCablesDelete Method for DcimCablesDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this cable.
 @return ApiDcimCablesDeleteRequest
*/
func (a *DcimApiService) DcimCablesDelete(ctx context.Context, id int32) ApiDcimCablesDeleteRequest {
	return ApiDcimCablesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *DcimApiService) DcimCablesDeleteExecute(r ApiDcimCablesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDcimCablesListRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id *string
	label *string
	length *string
	lengthUnit *string
	created *string
	createdGte *string
	createdLte *string
	lastUpdated *string
	lastUpdatedGte *string
	lastUpdatedLte *string
	q *string
	type_ *string
	status *string
	color *string
	deviceId *string
	device *string
	rackId *string
	rack *string
	siteId *string
	site *string
	tenantId *string
	tenant *string
	tag *string
	idN *string
	idLte *string
	idLt *string
	idGte *string
	idGt *string
	labelN *string
	labelIc *string
	labelNic *string
	labelIew *string
	labelNiew *string
	labelIsw *string
	labelNisw *string
	labelIe *string
	labelNie *string
	labelEmpty *string
	lengthN *string
	lengthLte *string
	lengthLt *string
	lengthGte *string
	lengthGt *string
	lengthUnitN *string
	typeN *string
	statusN *string
	colorN *string
	tagN *string
	limit *int32
	offset *int32
}

func (r ApiDcimCablesListRequest) Id(id string) ApiDcimCablesListRequest {
	r.id = &id
	return r
}

func (r ApiDcimCablesListRequest) Label(label string) ApiDcimCablesListRequest {
	r.label = &label
	return r
}

func (r ApiDcimCablesListRequest) Length(length string) ApiDcimCablesListRequest {
	r.length = &length
	return r
}

func (r ApiDcimCablesListRequest) LengthUnit(lengthUnit string) ApiDcimCablesListRequest {
	r.lengthUnit = &lengthUnit
	return r
}

func (r ApiDcimCablesListRequest) Created(created string) ApiDcimCablesListRequest {
	r.created = &created
	return r
}

func (r ApiDcimCablesListRequest) CreatedGte(createdGte string) ApiDcimCablesListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiDcimCablesListRequest) CreatedLte(createdLte string) ApiDcimCablesListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiDcimCablesListRequest) LastUpdated(lastUpdated string) ApiDcimCablesListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiDcimCablesListRequest) LastUpdatedGte(lastUpdatedGte string) ApiDcimCablesListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiDcimCablesListRequest) LastUpdatedLte(lastUpdatedLte string) ApiDcimCablesListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiDcimCablesListRequest) Q(q string) ApiDcimCablesListRequest {
	r.q = &q
	return r
}

func (r ApiDcimCablesListRequest) Type_(type_ string) ApiDcimCablesListRequest {
	r.type_ = &type_
	return r
}

func (r ApiDcimCablesListRequest) Status(status string) ApiDcimCablesListRequest {
	r.status = &status
	return r
}

func (r ApiDcimCablesListRequest) Color(color string) ApiDcimCablesListRequest {
	r.color = &color
	return r
}

func (r ApiDcimCablesListRequest) DeviceId(deviceId string) ApiDcimCablesListRequest {
	r.deviceId = &deviceId
	return r
}

func (r ApiDcimCablesListRequest) Device(device string) ApiDcimCablesListRequest {
	r.device = &device
	return r
}

func (r ApiDcimCablesListRequest) RackId(rackId string) ApiDcimCablesListRequest {
	r.rackId = &rackId
	return r
}

func (r ApiDcimCablesListRequest) Rack(rack string) ApiDcimCablesListRequest {
	r.rack = &rack
	return r
}

func (r ApiDcimCablesListRequest) SiteId(siteId string) ApiDcimCablesListRequest {
	r.siteId = &siteId
	return r
}

func (r ApiDcimCablesListRequest) Site(site string) ApiDcimCablesListRequest {
	r.site = &site
	return r
}

func (r ApiDcimCablesListRequest) TenantId(tenantId string) ApiDcimCablesListRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiDcimCablesListRequest) Tenant(tenant string) ApiDcimCablesListRequest {
	r.tenant = &tenant
	return r
}

func (r ApiDcimCablesListRequest) Tag(tag string) ApiDcimCablesListRequest {
	r.tag = &tag
	return r
}

func (r ApiDcimCablesListRequest) IdN(idN string) ApiDcimCablesListRequest {
	r.idN = &idN
	return r
}

func (r ApiDcimCablesListRequest) IdLte(idLte string) ApiDcimCablesListRequest {
	r.idLte = &idLte
	return r
}

func (r ApiDcimCablesListRequest) IdLt(idLt string) ApiDcimCablesListRequest {
	r.idLt = &idLt
	return r
}

func (r ApiDcimCablesListRequest) IdGte(idGte string) ApiDcimCablesListRequest {
	r.idGte = &idGte
	return r
}

func (r ApiDcimCablesListRequest) IdGt(idGt string) ApiDcimCablesListRequest {
	r.idGt = &idGt
	return r
}

func (r ApiDcimCablesListRequest) LabelN(labelN string) ApiDcimCablesListRequest {
	r.labelN = &labelN
	return r
}

func (r ApiDcimCablesListRequest) LabelIc(labelIc string) ApiDcimCablesListRequest {
	r.labelIc = &labelIc
	return r
}

func (r ApiDcimCablesListRequest) LabelNic(labelNic string) ApiDcimCablesListRequest {
	r.labelNic = &labelNic
	return r
}

func (r ApiDcimCablesListRequest) LabelIew(labelIew string) ApiDcimCablesListRequest {
	r.labelIew = &labelIew
	return r
}

func (r ApiDcimCablesListRequest) LabelNiew(labelNiew string) ApiDcimCablesListRequest {
	r.labelNiew = &labelNiew
	return r
}

func (r ApiDcimCablesListRequest) LabelIsw(labelIsw string) ApiDcimCablesListRequest {
	r.labelIsw = &labelIsw
	return r
}

func (r ApiDcimCablesListRequest) LabelNisw(labelNisw string) ApiDcimCablesListRequest {
	r.labelNisw = &labelNisw
	return r
}

func (r ApiDcimCablesListRequest) LabelIe(labelIe string) ApiDcimCablesListRequest {
	r.labelIe = &labelIe
	return r
}

func (r ApiDcimCablesListRequest) LabelNie(labelNie string) ApiDcimCablesListRequest {
	r.labelNie = &labelNie
	return r
}

func (r ApiDcimCablesListRequest) LabelEmpty(labelEmpty string) ApiDcimCablesListRequest {
	r.labelEmpty = &labelEmpty
	return r
}

func (r ApiDcimCablesListRequest) LengthN(lengthN string) ApiDcimCablesListRequest {
	r.lengthN = &lengthN
	return r
}

func (r ApiDcimCablesListRequest) LengthLte(lengthLte string) ApiDcimCablesListRequest {
	r.lengthLte = &lengthLte
	return r
}

func (r ApiDcimCablesListRequest) LengthLt(lengthLt string) ApiDcimCablesListRequest {
	r.lengthLt = &lengthLt
	return r
}

func (r ApiDcimCablesListRequest) LengthGte(lengthGte string) ApiDcimCablesListRequest {
	r.lengthGte = &lengthGte
	return r
}

func (r ApiDcimCablesListRequest) LengthGt(lengthGt string) ApiDcimCablesListRequest {
	r.lengthGt = &lengthGt
	return r
}

func (r ApiDcimCablesListRequest) LengthUnitN(lengthUnitN string) ApiDcimCablesListRequest {
	r.lengthUnitN = &lengthUnitN
	return r
}

func (r ApiDcimCablesListRequest) TypeN(typeN string) ApiDcimCablesListRequest {
	r.typeN = &typeN
	return r
}

func (r ApiDcimCablesListRequest) StatusN(statusN string) ApiDcimCablesListRequest {
	r.statusN = &statusN
	return r
}

func (r ApiDcimCablesListRequest) ColorN(colorN string) ApiDcimCablesListRequest {
	r.colorN = &colorN
	return r
}

func (r ApiDcimCablesListRequest) TagN(tagN string) ApiDcimCablesListRequest {
	r.tagN = &tagN
	return r
}

// Number of results to return per page.
func (r ApiDcimCablesListRequest) Limit(limit int32) ApiDcimCablesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiDcimCablesListRequest) Offset(offset int32) ApiDcimCablesListRequest {
	r.offset = &offset
	return r
}

func (r ApiDcimCablesListRequest) Execute() (*DcimCablesList200Response, *http.Response, error) {
	return r.ApiService.DcimCablesListExecute(r)
}

/*
DcimCablesList Method for DcimCablesList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimCablesListRequest
*/
func (a *DcimApiService) DcimCablesList(ctx context.Context) ApiDcimCablesListRequest {
	return ApiDcimCablesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DcimCablesList200Response
func (a *DcimApiService) DcimCablesListExecute(r ApiDcimCablesListRequest) (*DcimCablesList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DcimCablesList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.label != nil {
		localVarQueryParams.Add("label", parameterToString(*r.label, ""))
	}
	if r.length != nil {
		localVarQueryParams.Add("length", parameterToString(*r.length, ""))
	}
	if r.lengthUnit != nil {
		localVarQueryParams.Add("length_unit", parameterToString(*r.lengthUnit, ""))
	}
	if r.created != nil {
		localVarQueryParams.Add("created", parameterToString(*r.created, ""))
	}
	if r.createdGte != nil {
		localVarQueryParams.Add("created__gte", parameterToString(*r.createdGte, ""))
	}
	if r.createdLte != nil {
		localVarQueryParams.Add("created__lte", parameterToString(*r.createdLte, ""))
	}
	if r.lastUpdated != nil {
		localVarQueryParams.Add("last_updated", parameterToString(*r.lastUpdated, ""))
	}
	if r.lastUpdatedGte != nil {
		localVarQueryParams.Add("last_updated__gte", parameterToString(*r.lastUpdatedGte, ""))
	}
	if r.lastUpdatedLte != nil {
		localVarQueryParams.Add("last_updated__lte", parameterToString(*r.lastUpdatedLte, ""))
	}
	if r.q != nil {
		localVarQueryParams.Add("q", parameterToString(*r.q, ""))
	}
	if r.type_ != nil {
		localVarQueryParams.Add("type", parameterToString(*r.type_, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.color != nil {
		localVarQueryParams.Add("color", parameterToString(*r.color, ""))
	}
	if r.deviceId != nil {
		localVarQueryParams.Add("device_id", parameterToString(*r.deviceId, ""))
	}
	if r.device != nil {
		localVarQueryParams.Add("device", parameterToString(*r.device, ""))
	}
	if r.rackId != nil {
		localVarQueryParams.Add("rack_id", parameterToString(*r.rackId, ""))
	}
	if r.rack != nil {
		localVarQueryParams.Add("rack", parameterToString(*r.rack, ""))
	}
	if r.siteId != nil {
		localVarQueryParams.Add("site_id", parameterToString(*r.siteId, ""))
	}
	if r.site != nil {
		localVarQueryParams.Add("site", parameterToString(*r.site, ""))
	}
	if r.tenantId != nil {
		localVarQueryParams.Add("tenant_id", parameterToString(*r.tenantId, ""))
	}
	if r.tenant != nil {
		localVarQueryParams.Add("tenant", parameterToString(*r.tenant, ""))
	}
	if r.tag != nil {
		localVarQueryParams.Add("tag", parameterToString(*r.tag, ""))
	}
	if r.idN != nil {
		localVarQueryParams.Add("id__n", parameterToString(*r.idN, ""))
	}
	if r.idLte != nil {
		localVarQueryParams.Add("id__lte", parameterToString(*r.idLte, ""))
	}
	if r.idLt != nil {
		localVarQueryParams.Add("id__lt", parameterToString(*r.idLt, ""))
	}
	if r.idGte != nil {
		localVarQueryParams.Add("id__gte", parameterToString(*r.idGte, ""))
	}
	if r.idGt != nil {
		localVarQueryParams.Add("id__gt", parameterToString(*r.idGt, ""))
	}
	if r.labelN != nil {
		localVarQueryParams.Add("label__n", parameterToString(*r.labelN, ""))
	}
	if r.labelIc != nil {
		localVarQueryParams.Add("label__ic", parameterToString(*r.labelIc, ""))
	}
	if r.labelNic != nil {
		localVarQueryParams.Add("label__nic", parameterToString(*r.labelNic, ""))
	}
	if r.labelIew != nil {
		localVarQueryParams.Add("label__iew", parameterToString(*r.labelIew, ""))
	}
	if r.labelNiew != nil {
		localVarQueryParams.Add("label__niew", parameterToString(*r.labelNiew, ""))
	}
	if r.labelIsw != nil {
		localVarQueryParams.Add("label__isw", parameterToString(*r.labelIsw, ""))
	}
	if r.labelNisw != nil {
		localVarQueryParams.Add("label__nisw", parameterToString(*r.labelNisw, ""))
	}
	if r.labelIe != nil {
		localVarQueryParams.Add("label__ie", parameterToString(*r.labelIe, ""))
	}
	if r.labelNie != nil {
		localVarQueryParams.Add("label__nie", parameterToString(*r.labelNie, ""))
	}
	if r.labelEmpty != nil {
		localVarQueryParams.Add("label__empty", parameterToString(*r.labelEmpty, ""))
	}
	if r.lengthN != nil {
		localVarQueryParams.Add("length__n", parameterToString(*r.lengthN, ""))
	}
	if r.lengthLte != nil {
		localVarQueryParams.Add("length__lte", parameterToString(*r.lengthLte, ""))
	}
	if r.lengthLt != nil {
		localVarQueryParams.Add("length__lt", parameterToString(*r.lengthLt, ""))
	}
	if r.lengthGte != nil {
		localVarQueryParams.Add("length__gte", parameterToString(*r.lengthGte, ""))
	}
	if r.lengthGt != nil {
		localVarQueryParams.Add("length__gt", parameterToString(*r.lengthGt, ""))
	}
	if r.lengthUnitN != nil {
		localVarQueryParams.Add("length_unit__n", parameterToString(*r.lengthUnitN, ""))
	}
	if r.typeN != nil {
		localVarQueryParams.Add("type__n", parameterToString(*r.typeN, ""))
	}
	if r.statusN != nil {
		localVarQueryParams.Add("status__n", parameterToString(*r.statusN, ""))
	}
	if r.colorN != nil {
		localVarQueryParams.Add("color__n", parameterToString(*r.colorN, ""))
	}
	if r.tagN != nil {
		localVarQueryParams.Add("tag__n", parameterToString(*r.tagN, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimCablesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
	data *WritableCable
}

func (r ApiDcimCablesPartialUpdateRequest) Data(data WritableCable) ApiDcimCablesPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimCablesPartialUpdateRequest) Execute() (*Cable, *http.Response, error) {
	return r.ApiService.DcimCablesPartialUpdateExecute(r)
}

/*
DcimCablesPartialUpdate Method for DcimCablesPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this cable.
 @return ApiDcimCablesPartialUpdateRequest
*/
func (a *DcimApiService) DcimCablesPartialUpdate(ctx context.Context, id int32) ApiDcimCablesPartialUpdateRequest {
	return ApiDcimCablesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Cable
func (a *DcimApiService) DcimCablesPartialUpdateExecute(r ApiDcimCablesPartialUpdateRequest) (*Cable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Cable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimCablesReadRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
}

func (r ApiDcimCablesReadRequest) Execute() (*Cable, *http.Response, error) {
	return r.ApiService.DcimCablesReadExecute(r)
}

/*
DcimCablesRead Method for DcimCablesRead

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this cable.
 @return ApiDcimCablesReadRequest
*/
func (a *DcimApiService) DcimCablesRead(ctx context.Context, id int32) ApiDcimCablesReadRequest {
	return ApiDcimCablesReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Cable
func (a *DcimApiService) DcimCablesReadExecute(r ApiDcimCablesReadRequest) (*Cable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Cable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimCablesUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
	data *WritableCable
}

func (r ApiDcimCablesUpdateRequest) Data(data WritableCable) ApiDcimCablesUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimCablesUpdateRequest) Execute() (*Cable, *http.Response, error) {
	return r.ApiService.DcimCablesUpdateExecute(r)
}

/*
DcimCablesUpdate Method for DcimCablesUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this cable.
 @return ApiDcimCablesUpdateRequest
*/
func (a *DcimApiService) DcimCablesUpdate(ctx context.Context, id int32) ApiDcimCablesUpdateRequest {
	return ApiDcimCablesUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Cable
func (a *DcimApiService) DcimCablesUpdateExecute(r ApiDcimCablesUpdateRequest) (*Cable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Cable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimCablesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConnectedDeviceListRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	peerDevice *string
	peerInterface *string
}

// The name of the peer device
func (r ApiDcimConnectedDeviceListRequest) PeerDevice(peerDevice string) ApiDcimConnectedDeviceListRequest {
	r.peerDevice = &peerDevice
	return r
}

// The name of the peer interface
func (r ApiDcimConnectedDeviceListRequest) PeerInterface(peerInterface string) ApiDcimConnectedDeviceListRequest {
	r.peerInterface = &peerInterface
	return r
}

func (r ApiDcimConnectedDeviceListRequest) Execute() (*Device, *http.Response, error) {
	return r.ApiService.DcimConnectedDeviceListExecute(r)
}

/*
DcimConnectedDeviceList Method for DcimConnectedDeviceList

This endpoint allows a user to determine what device (if any) is connected to a given peer device and peer
interface. This is useful in a situation where a device boots with no configuration, but can detect its neighbors
via a protocol such as LLDP. Two query parameters must be included in the request:

* `peer_device`: The name of the peer device
* `peer_interface`: The name of the peer interface

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimConnectedDeviceListRequest
*/
func (a *DcimApiService) DcimConnectedDeviceList(ctx context.Context) ApiDcimConnectedDeviceListRequest {
	return ApiDcimConnectedDeviceListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Device
func (a *DcimApiService) DcimConnectedDeviceListExecute(r ApiDcimConnectedDeviceListRequest) (*Device, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Device
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConnectedDeviceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/connected-device/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.peerDevice == nil {
		return localVarReturnValue, nil, reportError("peerDevice is required and must be specified")
	}
	if r.peerInterface == nil {
		return localVarReturnValue, nil, reportError("peerInterface is required and must be specified")
	}

	localVarQueryParams.Add("peer_device", parameterToString(*r.peerDevice, ""))
	localVarQueryParams.Add("peer_interface", parameterToString(*r.peerInterface, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsoleConnectionsListRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	name *string
	site *string
	deviceId *string
	device *string
	nameN *string
	nameIc *string
	nameNic *string
	nameIew *string
	nameNiew *string
	nameIsw *string
	nameNisw *string
	nameIe *string
	nameNie *string
	nameEmpty *string
	limit *int32
	offset *int32
}

func (r ApiDcimConsoleConnectionsListRequest) Name(name string) ApiDcimConsoleConnectionsListRequest {
	r.name = &name
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) Site(site string) ApiDcimConsoleConnectionsListRequest {
	r.site = &site
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) DeviceId(deviceId string) ApiDcimConsoleConnectionsListRequest {
	r.deviceId = &deviceId
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) Device(device string) ApiDcimConsoleConnectionsListRequest {
	r.device = &device
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameN(nameN string) ApiDcimConsoleConnectionsListRequest {
	r.nameN = &nameN
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameIc(nameIc string) ApiDcimConsoleConnectionsListRequest {
	r.nameIc = &nameIc
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameNic(nameNic string) ApiDcimConsoleConnectionsListRequest {
	r.nameNic = &nameNic
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameIew(nameIew string) ApiDcimConsoleConnectionsListRequest {
	r.nameIew = &nameIew
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameNiew(nameNiew string) ApiDcimConsoleConnectionsListRequest {
	r.nameNiew = &nameNiew
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameIsw(nameIsw string) ApiDcimConsoleConnectionsListRequest {
	r.nameIsw = &nameIsw
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameNisw(nameNisw string) ApiDcimConsoleConnectionsListRequest {
	r.nameNisw = &nameNisw
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameIe(nameIe string) ApiDcimConsoleConnectionsListRequest {
	r.nameIe = &nameIe
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameNie(nameNie string) ApiDcimConsoleConnectionsListRequest {
	r.nameNie = &nameNie
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) NameEmpty(nameEmpty string) ApiDcimConsoleConnectionsListRequest {
	r.nameEmpty = &nameEmpty
	return r
}

// Number of results to return per page.
func (r ApiDcimConsoleConnectionsListRequest) Limit(limit int32) ApiDcimConsoleConnectionsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiDcimConsoleConnectionsListRequest) Offset(offset int32) ApiDcimConsoleConnectionsListRequest {
	r.offset = &offset
	return r
}

func (r ApiDcimConsoleConnectionsListRequest) Execute() (*DcimConsoleConnectionsList200Response, *http.Response, error) {
	return r.ApiService.DcimConsoleConnectionsListExecute(r)
}

/*
DcimConsoleConnectionsList Method for DcimConsoleConnectionsList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimConsoleConnectionsListRequest
*/
func (a *DcimApiService) DcimConsoleConnectionsList(ctx context.Context) ApiDcimConsoleConnectionsListRequest {
	return ApiDcimConsoleConnectionsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DcimConsoleConnectionsList200Response
func (a *DcimApiService) DcimConsoleConnectionsListExecute(r ApiDcimConsoleConnectionsListRequest) (*DcimConsoleConnectionsList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DcimConsoleConnectionsList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsoleConnectionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-connections/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		localVarQueryParams.Add("name", parameterToString(*r.name, ""))
	}
	if r.site != nil {
		localVarQueryParams.Add("site", parameterToString(*r.site, ""))
	}
	if r.deviceId != nil {
		localVarQueryParams.Add("device_id", parameterToString(*r.deviceId, ""))
	}
	if r.device != nil {
		localVarQueryParams.Add("device", parameterToString(*r.device, ""))
	}
	if r.nameN != nil {
		localVarQueryParams.Add("name__n", parameterToString(*r.nameN, ""))
	}
	if r.nameIc != nil {
		localVarQueryParams.Add("name__ic", parameterToString(*r.nameIc, ""))
	}
	if r.nameNic != nil {
		localVarQueryParams.Add("name__nic", parameterToString(*r.nameNic, ""))
	}
	if r.nameIew != nil {
		localVarQueryParams.Add("name__iew", parameterToString(*r.nameIew, ""))
	}
	if r.nameNiew != nil {
		localVarQueryParams.Add("name__niew", parameterToString(*r.nameNiew, ""))
	}
	if r.nameIsw != nil {
		localVarQueryParams.Add("name__isw", parameterToString(*r.nameIsw, ""))
	}
	if r.nameNisw != nil {
		localVarQueryParams.Add("name__nisw", parameterToString(*r.nameNisw, ""))
	}
	if r.nameIe != nil {
		localVarQueryParams.Add("name__ie", parameterToString(*r.nameIe, ""))
	}
	if r.nameNie != nil {
		localVarQueryParams.Add("name__nie", parameterToString(*r.nameNie, ""))
	}
	if r.nameEmpty != nil {
		localVarQueryParams.Add("name__empty", parameterToString(*r.nameEmpty, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesBulkDeleteRequest struct {
	ctx context.Context
	ApiService *DcimApiService
}

func (r ApiDcimConsolePortTemplatesBulkDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesBulkDeleteExecute(r)
}

/*
DcimConsolePortTemplatesBulkDelete Method for DcimConsolePortTemplatesBulkDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimConsolePortTemplatesBulkDeleteRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesBulkDelete(ctx context.Context) ApiDcimConsolePortTemplatesBulkDeleteRequest {
	return ApiDcimConsolePortTemplatesBulkDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DcimApiService) DcimConsolePortTemplatesBulkDeleteExecute(r ApiDcimConsolePortTemplatesBulkDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesBulkDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	data *WritableConsolePortTemplate
}

func (r ApiDcimConsolePortTemplatesBulkPartialUpdateRequest) Data(data WritableConsolePortTemplate) ApiDcimConsolePortTemplatesBulkPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimConsolePortTemplatesBulkPartialUpdateRequest) Execute() (*ConsolePortTemplate, *http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesBulkPartialUpdateExecute(r)
}

/*
DcimConsolePortTemplatesBulkPartialUpdate Method for DcimConsolePortTemplatesBulkPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimConsolePortTemplatesBulkPartialUpdateRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesBulkPartialUpdate(ctx context.Context) ApiDcimConsolePortTemplatesBulkPartialUpdateRequest {
	return ApiDcimConsolePortTemplatesBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsolePortTemplate
func (a *DcimApiService) DcimConsolePortTemplatesBulkPartialUpdateExecute(r ApiDcimConsolePortTemplatesBulkPartialUpdateRequest) (*ConsolePortTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsolePortTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesBulkUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	data *WritableConsolePortTemplate
}

func (r ApiDcimConsolePortTemplatesBulkUpdateRequest) Data(data WritableConsolePortTemplate) ApiDcimConsolePortTemplatesBulkUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimConsolePortTemplatesBulkUpdateRequest) Execute() (*ConsolePortTemplate, *http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesBulkUpdateExecute(r)
}

/*
DcimConsolePortTemplatesBulkUpdate Method for DcimConsolePortTemplatesBulkUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimConsolePortTemplatesBulkUpdateRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesBulkUpdate(ctx context.Context) ApiDcimConsolePortTemplatesBulkUpdateRequest {
	return ApiDcimConsolePortTemplatesBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsolePortTemplate
func (a *DcimApiService) DcimConsolePortTemplatesBulkUpdateExecute(r ApiDcimConsolePortTemplatesBulkUpdateRequest) (*ConsolePortTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsolePortTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesCreateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	data *WritableConsolePortTemplate
}

func (r ApiDcimConsolePortTemplatesCreateRequest) Data(data WritableConsolePortTemplate) ApiDcimConsolePortTemplatesCreateRequest {
	r.data = &data
	return r
}

func (r ApiDcimConsolePortTemplatesCreateRequest) Execute() (*ConsolePortTemplate, *http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesCreateExecute(r)
}

/*
DcimConsolePortTemplatesCreate Method for DcimConsolePortTemplatesCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimConsolePortTemplatesCreateRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesCreate(ctx context.Context) ApiDcimConsolePortTemplatesCreateRequest {
	return ApiDcimConsolePortTemplatesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsolePortTemplate
func (a *DcimApiService) DcimConsolePortTemplatesCreateExecute(r ApiDcimConsolePortTemplatesCreateRequest) (*ConsolePortTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsolePortTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesDeleteRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
}

func (r ApiDcimConsolePortTemplatesDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesDeleteExecute(r)
}

/*
DcimConsolePortTemplatesDelete Method for DcimConsolePortTemplatesDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this console port template.
 @return ApiDcimConsolePortTemplatesDeleteRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesDelete(ctx context.Context, id int32) ApiDcimConsolePortTemplatesDeleteRequest {
	return ApiDcimConsolePortTemplatesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *DcimApiService) DcimConsolePortTemplatesDeleteExecute(r ApiDcimConsolePortTemplatesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesListRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id *string
	name *string
	type_ *string
	created *string
	createdGte *string
	createdLte *string
	lastUpdated *string
	lastUpdatedGte *string
	lastUpdatedLte *string
	devicetypeId *string
	idN *string
	idLte *string
	idLt *string
	idGte *string
	idGt *string
	nameN *string
	nameIc *string
	nameNic *string
	nameIew *string
	nameNiew *string
	nameIsw *string
	nameNisw *string
	nameIe *string
	nameNie *string
	nameEmpty *string
	typeN *string
	devicetypeIdN *string
	limit *int32
	offset *int32
}

func (r ApiDcimConsolePortTemplatesListRequest) Id(id string) ApiDcimConsolePortTemplatesListRequest {
	r.id = &id
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) Name(name string) ApiDcimConsolePortTemplatesListRequest {
	r.name = &name
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) Type_(type_ string) ApiDcimConsolePortTemplatesListRequest {
	r.type_ = &type_
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) Created(created string) ApiDcimConsolePortTemplatesListRequest {
	r.created = &created
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) CreatedGte(createdGte string) ApiDcimConsolePortTemplatesListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) CreatedLte(createdLte string) ApiDcimConsolePortTemplatesListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) LastUpdated(lastUpdated string) ApiDcimConsolePortTemplatesListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) LastUpdatedGte(lastUpdatedGte string) ApiDcimConsolePortTemplatesListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) LastUpdatedLte(lastUpdatedLte string) ApiDcimConsolePortTemplatesListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) DevicetypeId(devicetypeId string) ApiDcimConsolePortTemplatesListRequest {
	r.devicetypeId = &devicetypeId
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) IdN(idN string) ApiDcimConsolePortTemplatesListRequest {
	r.idN = &idN
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) IdLte(idLte string) ApiDcimConsolePortTemplatesListRequest {
	r.idLte = &idLte
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) IdLt(idLt string) ApiDcimConsolePortTemplatesListRequest {
	r.idLt = &idLt
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) IdGte(idGte string) ApiDcimConsolePortTemplatesListRequest {
	r.idGte = &idGte
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) IdGt(idGt string) ApiDcimConsolePortTemplatesListRequest {
	r.idGt = &idGt
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameN(nameN string) ApiDcimConsolePortTemplatesListRequest {
	r.nameN = &nameN
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameIc(nameIc string) ApiDcimConsolePortTemplatesListRequest {
	r.nameIc = &nameIc
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameNic(nameNic string) ApiDcimConsolePortTemplatesListRequest {
	r.nameNic = &nameNic
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameIew(nameIew string) ApiDcimConsolePortTemplatesListRequest {
	r.nameIew = &nameIew
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameNiew(nameNiew string) ApiDcimConsolePortTemplatesListRequest {
	r.nameNiew = &nameNiew
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameIsw(nameIsw string) ApiDcimConsolePortTemplatesListRequest {
	r.nameIsw = &nameIsw
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameNisw(nameNisw string) ApiDcimConsolePortTemplatesListRequest {
	r.nameNisw = &nameNisw
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameIe(nameIe string) ApiDcimConsolePortTemplatesListRequest {
	r.nameIe = &nameIe
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameNie(nameNie string) ApiDcimConsolePortTemplatesListRequest {
	r.nameNie = &nameNie
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) NameEmpty(nameEmpty string) ApiDcimConsolePortTemplatesListRequest {
	r.nameEmpty = &nameEmpty
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) TypeN(typeN string) ApiDcimConsolePortTemplatesListRequest {
	r.typeN = &typeN
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) DevicetypeIdN(devicetypeIdN string) ApiDcimConsolePortTemplatesListRequest {
	r.devicetypeIdN = &devicetypeIdN
	return r
}

// Number of results to return per page.
func (r ApiDcimConsolePortTemplatesListRequest) Limit(limit int32) ApiDcimConsolePortTemplatesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiDcimConsolePortTemplatesListRequest) Offset(offset int32) ApiDcimConsolePortTemplatesListRequest {
	r.offset = &offset
	return r
}

func (r ApiDcimConsolePortTemplatesListRequest) Execute() (*DcimConsolePortTemplatesList200Response, *http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesListExecute(r)
}

/*
DcimConsolePortTemplatesList Method for DcimConsolePortTemplatesList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDcimConsolePortTemplatesListRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesList(ctx context.Context) ApiDcimConsolePortTemplatesListRequest {
	return ApiDcimConsolePortTemplatesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DcimConsolePortTemplatesList200Response
func (a *DcimApiService) DcimConsolePortTemplatesListExecute(r ApiDcimConsolePortTemplatesListRequest) (*DcimConsolePortTemplatesList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DcimConsolePortTemplatesList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.name != nil {
		localVarQueryParams.Add("name", parameterToString(*r.name, ""))
	}
	if r.type_ != nil {
		localVarQueryParams.Add("type", parameterToString(*r.type_, ""))
	}
	if r.created != nil {
		localVarQueryParams.Add("created", parameterToString(*r.created, ""))
	}
	if r.createdGte != nil {
		localVarQueryParams.Add("created__gte", parameterToString(*r.createdGte, ""))
	}
	if r.createdLte != nil {
		localVarQueryParams.Add("created__lte", parameterToString(*r.createdLte, ""))
	}
	if r.lastUpdated != nil {
		localVarQueryParams.Add("last_updated", parameterToString(*r.lastUpdated, ""))
	}
	if r.lastUpdatedGte != nil {
		localVarQueryParams.Add("last_updated__gte", parameterToString(*r.lastUpdatedGte, ""))
	}
	if r.lastUpdatedLte != nil {
		localVarQueryParams.Add("last_updated__lte", parameterToString(*r.lastUpdatedLte, ""))
	}
	if r.devicetypeId != nil {
		localVarQueryParams.Add("devicetype_id", parameterToString(*r.devicetypeId, ""))
	}
	if r.idN != nil {
		localVarQueryParams.Add("id__n", parameterToString(*r.idN, ""))
	}
	if r.idLte != nil {
		localVarQueryParams.Add("id__lte", parameterToString(*r.idLte, ""))
	}
	if r.idLt != nil {
		localVarQueryParams.Add("id__lt", parameterToString(*r.idLt, ""))
	}
	if r.idGte != nil {
		localVarQueryParams.Add("id__gte", parameterToString(*r.idGte, ""))
	}
	if r.idGt != nil {
		localVarQueryParams.Add("id__gt", parameterToString(*r.idGt, ""))
	}
	if r.nameN != nil {
		localVarQueryParams.Add("name__n", parameterToString(*r.nameN, ""))
	}
	if r.nameIc != nil {
		localVarQueryParams.Add("name__ic", parameterToString(*r.nameIc, ""))
	}
	if r.nameNic != nil {
		localVarQueryParams.Add("name__nic", parameterToString(*r.nameNic, ""))
	}
	if r.nameIew != nil {
		localVarQueryParams.Add("name__iew", parameterToString(*r.nameIew, ""))
	}
	if r.nameNiew != nil {
		localVarQueryParams.Add("name__niew", parameterToString(*r.nameNiew, ""))
	}
	if r.nameIsw != nil {
		localVarQueryParams.Add("name__isw", parameterToString(*r.nameIsw, ""))
	}
	if r.nameNisw != nil {
		localVarQueryParams.Add("name__nisw", parameterToString(*r.nameNisw, ""))
	}
	if r.nameIe != nil {
		localVarQueryParams.Add("name__ie", parameterToString(*r.nameIe, ""))
	}
	if r.nameNie != nil {
		localVarQueryParams.Add("name__nie", parameterToString(*r.nameNie, ""))
	}
	if r.nameEmpty != nil {
		localVarQueryParams.Add("name__empty", parameterToString(*r.nameEmpty, ""))
	}
	if r.typeN != nil {
		localVarQueryParams.Add("type__n", parameterToString(*r.typeN, ""))
	}
	if r.devicetypeIdN != nil {
		localVarQueryParams.Add("devicetype_id__n", parameterToString(*r.devicetypeIdN, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
	data *WritableConsolePortTemplate
}

func (r ApiDcimConsolePortTemplatesPartialUpdateRequest) Data(data WritableConsolePortTemplate) ApiDcimConsolePortTemplatesPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimConsolePortTemplatesPartialUpdateRequest) Execute() (*ConsolePortTemplate, *http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesPartialUpdateExecute(r)
}

/*
DcimConsolePortTemplatesPartialUpdate Method for DcimConsolePortTemplatesPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this console port template.
 @return ApiDcimConsolePortTemplatesPartialUpdateRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesPartialUpdate(ctx context.Context, id int32) ApiDcimConsolePortTemplatesPartialUpdateRequest {
	return ApiDcimConsolePortTemplatesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConsolePortTemplate
func (a *DcimApiService) DcimConsolePortTemplatesPartialUpdateExecute(r ApiDcimConsolePortTemplatesPartialUpdateRequest) (*ConsolePortTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsolePortTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesReadRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
}

func (r ApiDcimConsolePortTemplatesReadRequest) Execute() (*ConsolePortTemplate, *http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesReadExecute(r)
}

/*
DcimConsolePortTemplatesRead Method for DcimConsolePortTemplatesRead

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this console port template.
 @return ApiDcimConsolePortTemplatesReadRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesRead(ctx context.Context, id int32) ApiDcimConsolePortTemplatesReadRequest {
	return ApiDcimConsolePortTemplatesReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConsolePortTemplate
func (a *DcimApiService) DcimConsolePortTemplatesReadExecute(r ApiDcimConsolePortTemplatesReadRequest) (*ConsolePortTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsolePortTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDcimConsolePortTemplatesUpdateRequest struct {
	ctx context.Context
	ApiService *DcimApiService
	id int32
	data *WritableConsolePortTemplate
}

func (r ApiDcimConsolePortTemplatesUpdateRequest) Data(data WritableConsolePortTemplate) ApiDcimConsolePortTemplatesUpdateRequest {
	r.data = &data
	return r
}

func (r ApiDcimConsolePortTemplatesUpdateRequest) Execute() (*ConsolePortTemplate, *http.Response, error) {
	return r.ApiService.DcimConsolePortTemplatesUpdateExecute(r)
}

/*
DcimConsolePortTemplatesUpdate Method for DcimConsolePortTemplatesUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this console port template.
 @return ApiDcimConsolePortTemplatesUpdateRequest
*/
func (a *DcimApiService) DcimConsolePortTemplatesUpdate(ctx context.Context, id int32) ApiDcimConsolePortTemplatesUpdateRequest {
	return ApiDcimConsolePortTemplatesUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConsolePortTemplate
func (a *DcimApiService) DcimConsolePortTemplatesUpdateExecute(r ApiDcimConsolePortTemplatesUpdateRequest) (*ConsolePortTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsolePortTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DcimApiService.DcimConsolePortTemplatesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dcim/console-port-templates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

[...]
