/*
NetBox API

API to access NetBox

API version: 2.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// CircuitsApiService CircuitsApi service
type CircuitsApiService service

type ApiCircuitsCircuitTerminationsBulkDeleteRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
}

func (r ApiCircuitsCircuitTerminationsBulkDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsBulkDeleteExecute(r)
}

/*
CircuitsCircuitTerminationsBulkDelete Method for CircuitsCircuitTerminationsBulkDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTerminationsBulkDeleteRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsBulkDelete(ctx context.Context) ApiCircuitsCircuitTerminationsBulkDeleteRequest {
	return ApiCircuitsCircuitTerminationsBulkDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CircuitsApiService) CircuitsCircuitTerminationsBulkDeleteExecute(r ApiCircuitsCircuitTerminationsBulkDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsBulkDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	data *WritableCircuitTermination
}

func (r ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest) Data(data WritableCircuitTermination) ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest) Execute() (*CircuitTermination, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsBulkPartialUpdateExecute(r)
}

/*
CircuitsCircuitTerminationsBulkPartialUpdate Method for CircuitsCircuitTerminationsBulkPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsBulkPartialUpdate(ctx context.Context) ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest {
	return ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitTermination
func (a *CircuitsApiService) CircuitsCircuitTerminationsBulkPartialUpdateExecute(r ApiCircuitsCircuitTerminationsBulkPartialUpdateRequest) (*CircuitTermination, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitTermination
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsBulkUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	data *WritableCircuitTermination
}

func (r ApiCircuitsCircuitTerminationsBulkUpdateRequest) Data(data WritableCircuitTermination) ApiCircuitsCircuitTerminationsBulkUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTerminationsBulkUpdateRequest) Execute() (*CircuitTermination, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsBulkUpdateExecute(r)
}

/*
CircuitsCircuitTerminationsBulkUpdate Method for CircuitsCircuitTerminationsBulkUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTerminationsBulkUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsBulkUpdate(ctx context.Context) ApiCircuitsCircuitTerminationsBulkUpdateRequest {
	return ApiCircuitsCircuitTerminationsBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitTermination
func (a *CircuitsApiService) CircuitsCircuitTerminationsBulkUpdateExecute(r ApiCircuitsCircuitTerminationsBulkUpdateRequest) (*CircuitTermination, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitTermination
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsCreateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	data *WritableCircuitTermination
}

func (r ApiCircuitsCircuitTerminationsCreateRequest) Data(data WritableCircuitTermination) ApiCircuitsCircuitTerminationsCreateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTerminationsCreateRequest) Execute() (*CircuitTermination, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsCreateExecute(r)
}

/*
CircuitsCircuitTerminationsCreate Method for CircuitsCircuitTerminationsCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTerminationsCreateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsCreate(ctx context.Context) ApiCircuitsCircuitTerminationsCreateRequest {
	return ApiCircuitsCircuitTerminationsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitTermination
func (a *CircuitsApiService) CircuitsCircuitTerminationsCreateExecute(r ApiCircuitsCircuitTerminationsCreateRequest) (*CircuitTermination, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitTermination
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsDeleteRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
}

func (r ApiCircuitsCircuitTerminationsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsDeleteExecute(r)
}

/*
CircuitsCircuitTerminationsDelete Method for CircuitsCircuitTerminationsDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit termination.
 @return ApiCircuitsCircuitTerminationsDeleteRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsDelete(ctx context.Context, id int32) ApiCircuitsCircuitTerminationsDeleteRequest {
	return ApiCircuitsCircuitTerminationsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CircuitsApiService) CircuitsCircuitTerminationsDeleteExecute(r ApiCircuitsCircuitTerminationsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsListRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id *string
	termSide *string
	portSpeed *string
	upstreamSpeed *string
	xconnectId *string
	created *string
	createdGte *string
	createdLte *string
	lastUpdated *string
	lastUpdatedGte *string
	lastUpdatedLte *string
	cabled *string
	q *string
	circuitId *string
	siteId *string
	site *string
	providerNetworkId *string
	idN *string
	idLte *string
	idLt *string
	idGte *string
	idGt *string
	termSideN *string
	portSpeedN *string
	portSpeedLte *string
	portSpeedLt *string
	portSpeedGte *string
	portSpeedGt *string
	upstreamSpeedN *string
	upstreamSpeedLte *string
	upstreamSpeedLt *string
	upstreamSpeedGte *string
	upstreamSpeedGt *string
	xconnectIdN *string
	xconnectIdIc *string
	xconnectIdNic *string
	xconnectIdIew *string
	xconnectIdNiew *string
	xconnectIdIsw *string
	xconnectIdNisw *string
	xconnectIdIe *string
	xconnectIdNie *string
	xconnectIdEmpty *string
	circuitIdN *string
	siteIdN *string
	siteN *string
	providerNetworkIdN *string
	limit *int32
	offset *int32
}

func (r ApiCircuitsCircuitTerminationsListRequest) Id(id string) ApiCircuitsCircuitTerminationsListRequest {
	r.id = &id
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) TermSide(termSide string) ApiCircuitsCircuitTerminationsListRequest {
	r.termSide = &termSide
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) PortSpeed(portSpeed string) ApiCircuitsCircuitTerminationsListRequest {
	r.portSpeed = &portSpeed
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) UpstreamSpeed(upstreamSpeed string) ApiCircuitsCircuitTerminationsListRequest {
	r.upstreamSpeed = &upstreamSpeed
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectId(xconnectId string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectId = &xconnectId
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) Created(created string) ApiCircuitsCircuitTerminationsListRequest {
	r.created = &created
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) CreatedGte(createdGte string) ApiCircuitsCircuitTerminationsListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) CreatedLte(createdLte string) ApiCircuitsCircuitTerminationsListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) LastUpdated(lastUpdated string) ApiCircuitsCircuitTerminationsListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) LastUpdatedGte(lastUpdatedGte string) ApiCircuitsCircuitTerminationsListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) LastUpdatedLte(lastUpdatedLte string) ApiCircuitsCircuitTerminationsListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) Cabled(cabled string) ApiCircuitsCircuitTerminationsListRequest {
	r.cabled = &cabled
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) Q(q string) ApiCircuitsCircuitTerminationsListRequest {
	r.q = &q
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) CircuitId(circuitId string) ApiCircuitsCircuitTerminationsListRequest {
	r.circuitId = &circuitId
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) SiteId(siteId string) ApiCircuitsCircuitTerminationsListRequest {
	r.siteId = &siteId
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) Site(site string) ApiCircuitsCircuitTerminationsListRequest {
	r.site = &site
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) ProviderNetworkId(providerNetworkId string) ApiCircuitsCircuitTerminationsListRequest {
	r.providerNetworkId = &providerNetworkId
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) IdN(idN string) ApiCircuitsCircuitTerminationsListRequest {
	r.idN = &idN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) IdLte(idLte string) ApiCircuitsCircuitTerminationsListRequest {
	r.idLte = &idLte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) IdLt(idLt string) ApiCircuitsCircuitTerminationsListRequest {
	r.idLt = &idLt
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) IdGte(idGte string) ApiCircuitsCircuitTerminationsListRequest {
	r.idGte = &idGte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) IdGt(idGt string) ApiCircuitsCircuitTerminationsListRequest {
	r.idGt = &idGt
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) TermSideN(termSideN string) ApiCircuitsCircuitTerminationsListRequest {
	r.termSideN = &termSideN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) PortSpeedN(portSpeedN string) ApiCircuitsCircuitTerminationsListRequest {
	r.portSpeedN = &portSpeedN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) PortSpeedLte(portSpeedLte string) ApiCircuitsCircuitTerminationsListRequest {
	r.portSpeedLte = &portSpeedLte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) PortSpeedLt(portSpeedLt string) ApiCircuitsCircuitTerminationsListRequest {
	r.portSpeedLt = &portSpeedLt
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) PortSpeedGte(portSpeedGte string) ApiCircuitsCircuitTerminationsListRequest {
	r.portSpeedGte = &portSpeedGte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) PortSpeedGt(portSpeedGt string) ApiCircuitsCircuitTerminationsListRequest {
	r.portSpeedGt = &portSpeedGt
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) UpstreamSpeedN(upstreamSpeedN string) ApiCircuitsCircuitTerminationsListRequest {
	r.upstreamSpeedN = &upstreamSpeedN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) UpstreamSpeedLte(upstreamSpeedLte string) ApiCircuitsCircuitTerminationsListRequest {
	r.upstreamSpeedLte = &upstreamSpeedLte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) UpstreamSpeedLt(upstreamSpeedLt string) ApiCircuitsCircuitTerminationsListRequest {
	r.upstreamSpeedLt = &upstreamSpeedLt
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) UpstreamSpeedGte(upstreamSpeedGte string) ApiCircuitsCircuitTerminationsListRequest {
	r.upstreamSpeedGte = &upstreamSpeedGte
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) UpstreamSpeedGt(upstreamSpeedGt string) ApiCircuitsCircuitTerminationsListRequest {
	r.upstreamSpeedGt = &upstreamSpeedGt
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdN(xconnectIdN string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdN = &xconnectIdN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdIc(xconnectIdIc string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdIc = &xconnectIdIc
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdNic(xconnectIdNic string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdNic = &xconnectIdNic
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdIew(xconnectIdIew string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdIew = &xconnectIdIew
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdNiew(xconnectIdNiew string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdNiew = &xconnectIdNiew
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdIsw(xconnectIdIsw string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdIsw = &xconnectIdIsw
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdNisw(xconnectIdNisw string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdNisw = &xconnectIdNisw
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdIe(xconnectIdIe string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdIe = &xconnectIdIe
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdNie(xconnectIdNie string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdNie = &xconnectIdNie
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) XconnectIdEmpty(xconnectIdEmpty string) ApiCircuitsCircuitTerminationsListRequest {
	r.xconnectIdEmpty = &xconnectIdEmpty
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) CircuitIdN(circuitIdN string) ApiCircuitsCircuitTerminationsListRequest {
	r.circuitIdN = &circuitIdN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) SiteIdN(siteIdN string) ApiCircuitsCircuitTerminationsListRequest {
	r.siteIdN = &siteIdN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) SiteN(siteN string) ApiCircuitsCircuitTerminationsListRequest {
	r.siteN = &siteN
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) ProviderNetworkIdN(providerNetworkIdN string) ApiCircuitsCircuitTerminationsListRequest {
	r.providerNetworkIdN = &providerNetworkIdN
	return r
}

// Number of results to return per page.
func (r ApiCircuitsCircuitTerminationsListRequest) Limit(limit int32) ApiCircuitsCircuitTerminationsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiCircuitsCircuitTerminationsListRequest) Offset(offset int32) ApiCircuitsCircuitTerminationsListRequest {
	r.offset = &offset
	return r
}

func (r ApiCircuitsCircuitTerminationsListRequest) Execute() (*CircuitsCircuitTerminationsList200Response, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsListExecute(r)
}

/*
CircuitsCircuitTerminationsList Method for CircuitsCircuitTerminationsList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTerminationsListRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsList(ctx context.Context) ApiCircuitsCircuitTerminationsListRequest {
	return ApiCircuitsCircuitTerminationsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitsCircuitTerminationsList200Response
func (a *CircuitsApiService) CircuitsCircuitTerminationsListExecute(r ApiCircuitsCircuitTerminationsListRequest) (*CircuitsCircuitTerminationsList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitsCircuitTerminationsList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.termSide != nil {
		localVarQueryParams.Add("term_side", parameterToString(*r.termSide, ""))
	}
	if r.portSpeed != nil {
		localVarQueryParams.Add("port_speed", parameterToString(*r.portSpeed, ""))
	}
	if r.upstreamSpeed != nil {
		localVarQueryParams.Add("upstream_speed", parameterToString(*r.upstreamSpeed, ""))
	}
	if r.xconnectId != nil {
		localVarQueryParams.Add("xconnect_id", parameterToString(*r.xconnectId, ""))
	}
	if r.created != nil {
		localVarQueryParams.Add("created", parameterToString(*r.created, ""))
	}
	if r.createdGte != nil {
		localVarQueryParams.Add("created__gte", parameterToString(*r.createdGte, ""))
	}
	if r.createdLte != nil {
		localVarQueryParams.Add("created__lte", parameterToString(*r.createdLte, ""))
	}
	if r.lastUpdated != nil {
		localVarQueryParams.Add("last_updated", parameterToString(*r.lastUpdated, ""))
	}
	if r.lastUpdatedGte != nil {
		localVarQueryParams.Add("last_updated__gte", parameterToString(*r.lastUpdatedGte, ""))
	}
	if r.lastUpdatedLte != nil {
		localVarQueryParams.Add("last_updated__lte", parameterToString(*r.lastUpdatedLte, ""))
	}
	if r.cabled != nil {
		localVarQueryParams.Add("cabled", parameterToString(*r.cabled, ""))
	}
	if r.q != nil {
		localVarQueryParams.Add("q", parameterToString(*r.q, ""))
	}
	if r.circuitId != nil {
		localVarQueryParams.Add("circuit_id", parameterToString(*r.circuitId, ""))
	}
	if r.siteId != nil {
		localVarQueryParams.Add("site_id", parameterToString(*r.siteId, ""))
	}
	if r.site != nil {
		localVarQueryParams.Add("site", parameterToString(*r.site, ""))
	}
	if r.providerNetworkId != nil {
		localVarQueryParams.Add("provider_network_id", parameterToString(*r.providerNetworkId, ""))
	}
	if r.idN != nil {
		localVarQueryParams.Add("id__n", parameterToString(*r.idN, ""))
	}
	if r.idLte != nil {
		localVarQueryParams.Add("id__lte", parameterToString(*r.idLte, ""))
	}
	if r.idLt != nil {
		localVarQueryParams.Add("id__lt", parameterToString(*r.idLt, ""))
	}
	if r.idGte != nil {
		localVarQueryParams.Add("id__gte", parameterToString(*r.idGte, ""))
	}
	if r.idGt != nil {
		localVarQueryParams.Add("id__gt", parameterToString(*r.idGt, ""))
	}
	if r.termSideN != nil {
		localVarQueryParams.Add("term_side__n", parameterToString(*r.termSideN, ""))
	}
	if r.portSpeedN != nil {
		localVarQueryParams.Add("port_speed__n", parameterToString(*r.portSpeedN, ""))
	}
	if r.portSpeedLte != nil {
		localVarQueryParams.Add("port_speed__lte", parameterToString(*r.portSpeedLte, ""))
	}
	if r.portSpeedLt != nil {
		localVarQueryParams.Add("port_speed__lt", parameterToString(*r.portSpeedLt, ""))
	}
	if r.portSpeedGte != nil {
		localVarQueryParams.Add("port_speed__gte", parameterToString(*r.portSpeedGte, ""))
	}
	if r.portSpeedGt != nil {
		localVarQueryParams.Add("port_speed__gt", parameterToString(*r.portSpeedGt, ""))
	}
	if r.upstreamSpeedN != nil {
		localVarQueryParams.Add("upstream_speed__n", parameterToString(*r.upstreamSpeedN, ""))
	}
	if r.upstreamSpeedLte != nil {
		localVarQueryParams.Add("upstream_speed__lte", parameterToString(*r.upstreamSpeedLte, ""))
	}
	if r.upstreamSpeedLt != nil {
		localVarQueryParams.Add("upstream_speed__lt", parameterToString(*r.upstreamSpeedLt, ""))
	}
	if r.upstreamSpeedGte != nil {
		localVarQueryParams.Add("upstream_speed__gte", parameterToString(*r.upstreamSpeedGte, ""))
	}
	if r.upstreamSpeedGt != nil {
		localVarQueryParams.Add("upstream_speed__gt", parameterToString(*r.upstreamSpeedGt, ""))
	}
	if r.xconnectIdN != nil {
		localVarQueryParams.Add("xconnect_id__n", parameterToString(*r.xconnectIdN, ""))
	}
	if r.xconnectIdIc != nil {
		localVarQueryParams.Add("xconnect_id__ic", parameterToString(*r.xconnectIdIc, ""))
	}
	if r.xconnectIdNic != nil {
		localVarQueryParams.Add("xconnect_id__nic", parameterToString(*r.xconnectIdNic, ""))
	}
	if r.xconnectIdIew != nil {
		localVarQueryParams.Add("xconnect_id__iew", parameterToString(*r.xconnectIdIew, ""))
	}
	if r.xconnectIdNiew != nil {
		localVarQueryParams.Add("xconnect_id__niew", parameterToString(*r.xconnectIdNiew, ""))
	}
	if r.xconnectIdIsw != nil {
		localVarQueryParams.Add("xconnect_id__isw", parameterToString(*r.xconnectIdIsw, ""))
	}
	if r.xconnectIdNisw != nil {
		localVarQueryParams.Add("xconnect_id__nisw", parameterToString(*r.xconnectIdNisw, ""))
	}
	if r.xconnectIdIe != nil {
		localVarQueryParams.Add("xconnect_id__ie", parameterToString(*r.xconnectIdIe, ""))
	}
	if r.xconnectIdNie != nil {
		localVarQueryParams.Add("xconnect_id__nie", parameterToString(*r.xconnectIdNie, ""))
	}
	if r.xconnectIdEmpty != nil {
		localVarQueryParams.Add("xconnect_id__empty", parameterToString(*r.xconnectIdEmpty, ""))
	}
	if r.circuitIdN != nil {
		localVarQueryParams.Add("circuit_id__n", parameterToString(*r.circuitIdN, ""))
	}
	if r.siteIdN != nil {
		localVarQueryParams.Add("site_id__n", parameterToString(*r.siteIdN, ""))
	}
	if r.siteN != nil {
		localVarQueryParams.Add("site__n", parameterToString(*r.siteN, ""))
	}
	if r.providerNetworkIdN != nil {
		localVarQueryParams.Add("provider_network_id__n", parameterToString(*r.providerNetworkIdN, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
	data *WritableCircuitTermination
}

func (r ApiCircuitsCircuitTerminationsPartialUpdateRequest) Data(data WritableCircuitTermination) ApiCircuitsCircuitTerminationsPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTerminationsPartialUpdateRequest) Execute() (*CircuitTermination, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsPartialUpdateExecute(r)
}

/*
CircuitsCircuitTerminationsPartialUpdate Method for CircuitsCircuitTerminationsPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit termination.
 @return ApiCircuitsCircuitTerminationsPartialUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsPartialUpdate(ctx context.Context, id int32) ApiCircuitsCircuitTerminationsPartialUpdateRequest {
	return ApiCircuitsCircuitTerminationsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CircuitTermination
func (a *CircuitsApiService) CircuitsCircuitTerminationsPartialUpdateExecute(r ApiCircuitsCircuitTerminationsPartialUpdateRequest) (*CircuitTermination, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitTermination
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsPathsRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
}

func (r ApiCircuitsCircuitTerminationsPathsRequest) Execute() (*CircuitTermination, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsPathsExecute(r)
}

/*
CircuitsCircuitTerminationsPaths Method for CircuitsCircuitTerminationsPaths

Return all CablePaths which traverse a given pass-through port.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit termination.
 @return ApiCircuitsCircuitTerminationsPathsRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsPaths(ctx context.Context, id int32) ApiCircuitsCircuitTerminationsPathsRequest {
	return ApiCircuitsCircuitTerminationsPathsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CircuitTermination
func (a *CircuitsApiService) CircuitsCircuitTerminationsPathsExecute(r ApiCircuitsCircuitTerminationsPathsRequest) (*CircuitTermination, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitTermination
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsPaths")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/{id}/paths/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsReadRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
}

func (r ApiCircuitsCircuitTerminationsReadRequest) Execute() (*CircuitTermination, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsReadExecute(r)
}

/*
CircuitsCircuitTerminationsRead Method for CircuitsCircuitTerminationsRead

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit termination.
 @return ApiCircuitsCircuitTerminationsReadRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsRead(ctx context.Context, id int32) ApiCircuitsCircuitTerminationsReadRequest {
	return ApiCircuitsCircuitTerminationsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CircuitTermination
func (a *CircuitsApiService) CircuitsCircuitTerminationsReadExecute(r ApiCircuitsCircuitTerminationsReadRequest) (*CircuitTermination, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitTermination
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTerminationsUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
	data *WritableCircuitTermination
}

func (r ApiCircuitsCircuitTerminationsUpdateRequest) Data(data WritableCircuitTermination) ApiCircuitsCircuitTerminationsUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTerminationsUpdateRequest) Execute() (*CircuitTermination, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTerminationsUpdateExecute(r)
}

/*
CircuitsCircuitTerminationsUpdate Method for CircuitsCircuitTerminationsUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit termination.
 @return ApiCircuitsCircuitTerminationsUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTerminationsUpdate(ctx context.Context, id int32) ApiCircuitsCircuitTerminationsUpdateRequest {
	return ApiCircuitsCircuitTerminationsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CircuitTermination
func (a *CircuitsApiService) CircuitsCircuitTerminationsUpdateExecute(r ApiCircuitsCircuitTerminationsUpdateRequest) (*CircuitTermination, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitTermination
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTerminationsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-terminations/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesBulkDeleteRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
}

func (r ApiCircuitsCircuitTypesBulkDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesBulkDeleteExecute(r)
}

/*
CircuitsCircuitTypesBulkDelete Method for CircuitsCircuitTypesBulkDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTypesBulkDeleteRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesBulkDelete(ctx context.Context) ApiCircuitsCircuitTypesBulkDeleteRequest {
	return ApiCircuitsCircuitTypesBulkDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CircuitsApiService) CircuitsCircuitTypesBulkDeleteExecute(r ApiCircuitsCircuitTypesBulkDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesBulkDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	data *CircuitType
}

func (r ApiCircuitsCircuitTypesBulkPartialUpdateRequest) Data(data CircuitType) ApiCircuitsCircuitTypesBulkPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTypesBulkPartialUpdateRequest) Execute() (*CircuitType, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesBulkPartialUpdateExecute(r)
}

/*
CircuitsCircuitTypesBulkPartialUpdate Method for CircuitsCircuitTypesBulkPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTypesBulkPartialUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesBulkPartialUpdate(ctx context.Context) ApiCircuitsCircuitTypesBulkPartialUpdateRequest {
	return ApiCircuitsCircuitTypesBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitType
func (a *CircuitsApiService) CircuitsCircuitTypesBulkPartialUpdateExecute(r ApiCircuitsCircuitTypesBulkPartialUpdateRequest) (*CircuitType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesBulkUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	data *CircuitType
}

func (r ApiCircuitsCircuitTypesBulkUpdateRequest) Data(data CircuitType) ApiCircuitsCircuitTypesBulkUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTypesBulkUpdateRequest) Execute() (*CircuitType, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesBulkUpdateExecute(r)
}

/*
CircuitsCircuitTypesBulkUpdate Method for CircuitsCircuitTypesBulkUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTypesBulkUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesBulkUpdate(ctx context.Context) ApiCircuitsCircuitTypesBulkUpdateRequest {
	return ApiCircuitsCircuitTypesBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitType
func (a *CircuitsApiService) CircuitsCircuitTypesBulkUpdateExecute(r ApiCircuitsCircuitTypesBulkUpdateRequest) (*CircuitType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesCreateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	data *CircuitType
}

func (r ApiCircuitsCircuitTypesCreateRequest) Data(data CircuitType) ApiCircuitsCircuitTypesCreateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTypesCreateRequest) Execute() (*CircuitType, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesCreateExecute(r)
}

/*
CircuitsCircuitTypesCreate Method for CircuitsCircuitTypesCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTypesCreateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesCreate(ctx context.Context) ApiCircuitsCircuitTypesCreateRequest {
	return ApiCircuitsCircuitTypesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitType
func (a *CircuitsApiService) CircuitsCircuitTypesCreateExecute(r ApiCircuitsCircuitTypesCreateRequest) (*CircuitType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesDeleteRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
}

func (r ApiCircuitsCircuitTypesDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesDeleteExecute(r)
}

/*
CircuitsCircuitTypesDelete Method for CircuitsCircuitTypesDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit type.
 @return ApiCircuitsCircuitTypesDeleteRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesDelete(ctx context.Context, id int32) ApiCircuitsCircuitTypesDeleteRequest {
	return ApiCircuitsCircuitTypesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CircuitsApiService) CircuitsCircuitTypesDeleteExecute(r ApiCircuitsCircuitTypesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesListRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id *string
	name *string
	slug *string
	created *string
	createdGte *string
	createdLte *string
	lastUpdated *string
	lastUpdatedGte *string
	lastUpdatedLte *string
	q *string
	idN *string
	idLte *string
	idLt *string
	idGte *string
	idGt *string
	nameN *string
	nameIc *string
	nameNic *string
	nameIew *string
	nameNiew *string
	nameIsw *string
	nameNisw *string
	nameIe *string
	nameNie *string
	nameEmpty *string
	slugN *string
	slugIc *string
	slugNic *string
	slugIew *string
	slugNiew *string
	slugIsw *string
	slugNisw *string
	slugIe *string
	slugNie *string
	slugEmpty *string
	limit *int32
	offset *int32
}

func (r ApiCircuitsCircuitTypesListRequest) Id(id string) ApiCircuitsCircuitTypesListRequest {
	r.id = &id
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) Name(name string) ApiCircuitsCircuitTypesListRequest {
	r.name = &name
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) Slug(slug string) ApiCircuitsCircuitTypesListRequest {
	r.slug = &slug
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) Created(created string) ApiCircuitsCircuitTypesListRequest {
	r.created = &created
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) CreatedGte(createdGte string) ApiCircuitsCircuitTypesListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) CreatedLte(createdLte string) ApiCircuitsCircuitTypesListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) LastUpdated(lastUpdated string) ApiCircuitsCircuitTypesListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) LastUpdatedGte(lastUpdatedGte string) ApiCircuitsCircuitTypesListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) LastUpdatedLte(lastUpdatedLte string) ApiCircuitsCircuitTypesListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) Q(q string) ApiCircuitsCircuitTypesListRequest {
	r.q = &q
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) IdN(idN string) ApiCircuitsCircuitTypesListRequest {
	r.idN = &idN
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) IdLte(idLte string) ApiCircuitsCircuitTypesListRequest {
	r.idLte = &idLte
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) IdLt(idLt string) ApiCircuitsCircuitTypesListRequest {
	r.idLt = &idLt
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) IdGte(idGte string) ApiCircuitsCircuitTypesListRequest {
	r.idGte = &idGte
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) IdGt(idGt string) ApiCircuitsCircuitTypesListRequest {
	r.idGt = &idGt
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameN(nameN string) ApiCircuitsCircuitTypesListRequest {
	r.nameN = &nameN
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameIc(nameIc string) ApiCircuitsCircuitTypesListRequest {
	r.nameIc = &nameIc
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameNic(nameNic string) ApiCircuitsCircuitTypesListRequest {
	r.nameNic = &nameNic
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameIew(nameIew string) ApiCircuitsCircuitTypesListRequest {
	r.nameIew = &nameIew
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameNiew(nameNiew string) ApiCircuitsCircuitTypesListRequest {
	r.nameNiew = &nameNiew
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameIsw(nameIsw string) ApiCircuitsCircuitTypesListRequest {
	r.nameIsw = &nameIsw
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameNisw(nameNisw string) ApiCircuitsCircuitTypesListRequest {
	r.nameNisw = &nameNisw
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameIe(nameIe string) ApiCircuitsCircuitTypesListRequest {
	r.nameIe = &nameIe
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameNie(nameNie string) ApiCircuitsCircuitTypesListRequest {
	r.nameNie = &nameNie
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) NameEmpty(nameEmpty string) ApiCircuitsCircuitTypesListRequest {
	r.nameEmpty = &nameEmpty
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugN(slugN string) ApiCircuitsCircuitTypesListRequest {
	r.slugN = &slugN
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugIc(slugIc string) ApiCircuitsCircuitTypesListRequest {
	r.slugIc = &slugIc
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugNic(slugNic string) ApiCircuitsCircuitTypesListRequest {
	r.slugNic = &slugNic
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugIew(slugIew string) ApiCircuitsCircuitTypesListRequest {
	r.slugIew = &slugIew
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugNiew(slugNiew string) ApiCircuitsCircuitTypesListRequest {
	r.slugNiew = &slugNiew
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugIsw(slugIsw string) ApiCircuitsCircuitTypesListRequest {
	r.slugIsw = &slugIsw
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugNisw(slugNisw string) ApiCircuitsCircuitTypesListRequest {
	r.slugNisw = &slugNisw
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugIe(slugIe string) ApiCircuitsCircuitTypesListRequest {
	r.slugIe = &slugIe
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugNie(slugNie string) ApiCircuitsCircuitTypesListRequest {
	r.slugNie = &slugNie
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) SlugEmpty(slugEmpty string) ApiCircuitsCircuitTypesListRequest {
	r.slugEmpty = &slugEmpty
	return r
}

// Number of results to return per page.
func (r ApiCircuitsCircuitTypesListRequest) Limit(limit int32) ApiCircuitsCircuitTypesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiCircuitsCircuitTypesListRequest) Offset(offset int32) ApiCircuitsCircuitTypesListRequest {
	r.offset = &offset
	return r
}

func (r ApiCircuitsCircuitTypesListRequest) Execute() (*CircuitsCircuitTypesList200Response, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesListExecute(r)
}

/*
CircuitsCircuitTypesList Method for CircuitsCircuitTypesList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitTypesListRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesList(ctx context.Context) ApiCircuitsCircuitTypesListRequest {
	return ApiCircuitsCircuitTypesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CircuitsCircuitTypesList200Response
func (a *CircuitsApiService) CircuitsCircuitTypesListExecute(r ApiCircuitsCircuitTypesListRequest) (*CircuitsCircuitTypesList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitsCircuitTypesList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.name != nil {
		localVarQueryParams.Add("name", parameterToString(*r.name, ""))
	}
	if r.slug != nil {
		localVarQueryParams.Add("slug", parameterToString(*r.slug, ""))
	}
	if r.created != nil {
		localVarQueryParams.Add("created", parameterToString(*r.created, ""))
	}
	if r.createdGte != nil {
		localVarQueryParams.Add("created__gte", parameterToString(*r.createdGte, ""))
	}
	if r.createdLte != nil {
		localVarQueryParams.Add("created__lte", parameterToString(*r.createdLte, ""))
	}
	if r.lastUpdated != nil {
		localVarQueryParams.Add("last_updated", parameterToString(*r.lastUpdated, ""))
	}
	if r.lastUpdatedGte != nil {
		localVarQueryParams.Add("last_updated__gte", parameterToString(*r.lastUpdatedGte, ""))
	}
	if r.lastUpdatedLte != nil {
		localVarQueryParams.Add("last_updated__lte", parameterToString(*r.lastUpdatedLte, ""))
	}
	if r.q != nil {
		localVarQueryParams.Add("q", parameterToString(*r.q, ""))
	}
	if r.idN != nil {
		localVarQueryParams.Add("id__n", parameterToString(*r.idN, ""))
	}
	if r.idLte != nil {
		localVarQueryParams.Add("id__lte", parameterToString(*r.idLte, ""))
	}
	if r.idLt != nil {
		localVarQueryParams.Add("id__lt", parameterToString(*r.idLt, ""))
	}
	if r.idGte != nil {
		localVarQueryParams.Add("id__gte", parameterToString(*r.idGte, ""))
	}
	if r.idGt != nil {
		localVarQueryParams.Add("id__gt", parameterToString(*r.idGt, ""))
	}
	if r.nameN != nil {
		localVarQueryParams.Add("name__n", parameterToString(*r.nameN, ""))
	}
	if r.nameIc != nil {
		localVarQueryParams.Add("name__ic", parameterToString(*r.nameIc, ""))
	}
	if r.nameNic != nil {
		localVarQueryParams.Add("name__nic", parameterToString(*r.nameNic, ""))
	}
	if r.nameIew != nil {
		localVarQueryParams.Add("name__iew", parameterToString(*r.nameIew, ""))
	}
	if r.nameNiew != nil {
		localVarQueryParams.Add("name__niew", parameterToString(*r.nameNiew, ""))
	}
	if r.nameIsw != nil {
		localVarQueryParams.Add("name__isw", parameterToString(*r.nameIsw, ""))
	}
	if r.nameNisw != nil {
		localVarQueryParams.Add("name__nisw", parameterToString(*r.nameNisw, ""))
	}
	if r.nameIe != nil {
		localVarQueryParams.Add("name__ie", parameterToString(*r.nameIe, ""))
	}
	if r.nameNie != nil {
		localVarQueryParams.Add("name__nie", parameterToString(*r.nameNie, ""))
	}
	if r.nameEmpty != nil {
		localVarQueryParams.Add("name__empty", parameterToString(*r.nameEmpty, ""))
	}
	if r.slugN != nil {
		localVarQueryParams.Add("slug__n", parameterToString(*r.slugN, ""))
	}
	if r.slugIc != nil {
		localVarQueryParams.Add("slug__ic", parameterToString(*r.slugIc, ""))
	}
	if r.slugNic != nil {
		localVarQueryParams.Add("slug__nic", parameterToString(*r.slugNic, ""))
	}
	if r.slugIew != nil {
		localVarQueryParams.Add("slug__iew", parameterToString(*r.slugIew, ""))
	}
	if r.slugNiew != nil {
		localVarQueryParams.Add("slug__niew", parameterToString(*r.slugNiew, ""))
	}
	if r.slugIsw != nil {
		localVarQueryParams.Add("slug__isw", parameterToString(*r.slugIsw, ""))
	}
	if r.slugNisw != nil {
		localVarQueryParams.Add("slug__nisw", parameterToString(*r.slugNisw, ""))
	}
	if r.slugIe != nil {
		localVarQueryParams.Add("slug__ie", parameterToString(*r.slugIe, ""))
	}
	if r.slugNie != nil {
		localVarQueryParams.Add("slug__nie", parameterToString(*r.slugNie, ""))
	}
	if r.slugEmpty != nil {
		localVarQueryParams.Add("slug__empty", parameterToString(*r.slugEmpty, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
	data *CircuitType
}

func (r ApiCircuitsCircuitTypesPartialUpdateRequest) Data(data CircuitType) ApiCircuitsCircuitTypesPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTypesPartialUpdateRequest) Execute() (*CircuitType, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesPartialUpdateExecute(r)
}

/*
CircuitsCircuitTypesPartialUpdate Method for CircuitsCircuitTypesPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit type.
 @return ApiCircuitsCircuitTypesPartialUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesPartialUpdate(ctx context.Context, id int32) ApiCircuitsCircuitTypesPartialUpdateRequest {
	return ApiCircuitsCircuitTypesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CircuitType
func (a *CircuitsApiService) CircuitsCircuitTypesPartialUpdateExecute(r ApiCircuitsCircuitTypesPartialUpdateRequest) (*CircuitType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesReadRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
}

func (r ApiCircuitsCircuitTypesReadRequest) Execute() (*CircuitType, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesReadExecute(r)
}

/*
CircuitsCircuitTypesRead Method for CircuitsCircuitTypesRead

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit type.
 @return ApiCircuitsCircuitTypesReadRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesRead(ctx context.Context, id int32) ApiCircuitsCircuitTypesReadRequest {
	return ApiCircuitsCircuitTypesReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CircuitType
func (a *CircuitsApiService) CircuitsCircuitTypesReadExecute(r ApiCircuitsCircuitTypesReadRequest) (*CircuitType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitTypesUpdateRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
	id int32
	data *CircuitType
}

func (r ApiCircuitsCircuitTypesUpdateRequest) Data(data CircuitType) ApiCircuitsCircuitTypesUpdateRequest {
	r.data = &data
	return r
}

func (r ApiCircuitsCircuitTypesUpdateRequest) Execute() (*CircuitType, *http.Response, error) {
	return r.ApiService.CircuitsCircuitTypesUpdateExecute(r)
}

/*
CircuitsCircuitTypesUpdate Method for CircuitsCircuitTypesUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this circuit type.
 @return ApiCircuitsCircuitTypesUpdateRequest
*/
func (a *CircuitsApiService) CircuitsCircuitTypesUpdate(ctx context.Context, id int32) ApiCircuitsCircuitTypesUpdateRequest {
	return ApiCircuitsCircuitTypesUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CircuitType
func (a *CircuitsApiService) CircuitsCircuitTypesUpdateExecute(r ApiCircuitsCircuitTypesUpdateRequest) (*CircuitType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CircuitType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitTypesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuit-types/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCircuitsCircuitsBulkDeleteRequest struct {
	ctx context.Context
	ApiService *CircuitsApiService
}

func (r ApiCircuitsCircuitsBulkDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CircuitsCircuitsBulkDeleteExecute(r)
}

/*
CircuitsCircuitsBulkDelete Method for CircuitsCircuitsBulkDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCircuitsCircuitsBulkDeleteRequest
*/
func (a *CircuitsApiService) CircuitsCircuitsBulkDelete(ctx context.Context) ApiCircuitsCircuitsBulkDeleteRequest {
	return ApiCircuitsCircuitsBulkDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CircuitsApiService) CircuitsCircuitsBulkDeleteExecute(r ApiCircuitsCircuitsBulkDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitsApiService.CircuitsCircuitsBulkDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/circuits/circuits/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
[...]
