/*
NetBox API

API to access NetBox

API version: 2.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package netbox

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// IpamApiService IpamApi service
type IpamApiService service

type ApiIpamAggregatesBulkDeleteRequest struct {
	ctx context.Context
	ApiService *IpamApiService
}

func (r ApiIpamAggregatesBulkDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamAggregatesBulkDeleteExecute(r)
}

/*
IpamAggregatesBulkDelete Method for IpamAggregatesBulkDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamAggregatesBulkDeleteRequest
*/
func (a *IpamApiService) IpamAggregatesBulkDelete(ctx context.Context) ApiIpamAggregatesBulkDeleteRequest {
	return ApiIpamAggregatesBulkDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *IpamApiService) IpamAggregatesBulkDeleteExecute(r ApiIpamAggregatesBulkDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesBulkDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamAggregatesBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	data *WritableAggregate
}

func (r ApiIpamAggregatesBulkPartialUpdateRequest) Data(data WritableAggregate) ApiIpamAggregatesBulkPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamAggregatesBulkPartialUpdateRequest) Execute() (*Aggregate, *http.Response, error) {
	return r.ApiService.IpamAggregatesBulkPartialUpdateExecute(r)
}

/*
IpamAggregatesBulkPartialUpdate Method for IpamAggregatesBulkPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamAggregatesBulkPartialUpdateRequest
*/
func (a *IpamApiService) IpamAggregatesBulkPartialUpdate(ctx context.Context) ApiIpamAggregatesBulkPartialUpdateRequest {
	return ApiIpamAggregatesBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Aggregate
func (a *IpamApiService) IpamAggregatesBulkPartialUpdateExecute(r ApiIpamAggregatesBulkPartialUpdateRequest) (*Aggregate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Aggregate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamAggregatesBulkUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	data *WritableAggregate
}

func (r ApiIpamAggregatesBulkUpdateRequest) Data(data WritableAggregate) ApiIpamAggregatesBulkUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamAggregatesBulkUpdateRequest) Execute() (*Aggregate, *http.Response, error) {
	return r.ApiService.IpamAggregatesBulkUpdateExecute(r)
}

/*
IpamAggregatesBulkUpdate Method for IpamAggregatesBulkUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamAggregatesBulkUpdateRequest
*/
func (a *IpamApiService) IpamAggregatesBulkUpdate(ctx context.Context) ApiIpamAggregatesBulkUpdateRequest {
	return ApiIpamAggregatesBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Aggregate
func (a *IpamApiService) IpamAggregatesBulkUpdateExecute(r ApiIpamAggregatesBulkUpdateRequest) (*Aggregate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Aggregate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamAggregatesCreateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	data *WritableAggregate
}

func (r ApiIpamAggregatesCreateRequest) Data(data WritableAggregate) ApiIpamAggregatesCreateRequest {
	r.data = &data
	return r
}

func (r ApiIpamAggregatesCreateRequest) Execute() (*Aggregate, *http.Response, error) {
	return r.ApiService.IpamAggregatesCreateExecute(r)
}

/*
IpamAggregatesCreate Method for IpamAggregatesCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamAggregatesCreateRequest
*/
func (a *IpamApiService) IpamAggregatesCreate(ctx context.Context) ApiIpamAggregatesCreateRequest {
	return ApiIpamAggregatesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Aggregate
func (a *IpamApiService) IpamAggregatesCreateExecute(r ApiIpamAggregatesCreateRequest) (*Aggregate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Aggregate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamAggregatesDeleteRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
}

func (r ApiIpamAggregatesDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamAggregatesDeleteExecute(r)
}

/*
IpamAggregatesDelete Method for IpamAggregatesDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this aggregate.
 @return ApiIpamAggregatesDeleteRequest
*/
func (a *IpamApiService) IpamAggregatesDelete(ctx context.Context, id int32) ApiIpamAggregatesDeleteRequest {
	return ApiIpamAggregatesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *IpamApiService) IpamAggregatesDeleteExecute(r ApiIpamAggregatesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamAggregatesListRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id *string
	dateAdded *string
	created *string
	createdGte *string
	createdLte *string
	lastUpdated *string
	lastUpdatedGte *string
	lastUpdatedLte *string
	tenantGroupId *string
	tenantGroup *string
	tenantId *string
	tenant *string
	q *string
	family *float32
	prefix *string
	rirId *string
	rir *string
	tag *string
	idN *string
	idLte *string
	idLt *string
	idGte *string
	idGt *string
	dateAddedN *string
	dateAddedLte *string
	dateAddedLt *string
	dateAddedGte *string
	dateAddedGt *string
	tenantGroupIdN *string
	tenantGroupN *string
	tenantIdN *string
	tenantN *string
	rirIdN *string
	rirN *string
	tagN *string
	limit *int32
	offset *int32
}

func (r ApiIpamAggregatesListRequest) Id(id string) ApiIpamAggregatesListRequest {
	r.id = &id
	return r
}

func (r ApiIpamAggregatesListRequest) DateAdded(dateAdded string) ApiIpamAggregatesListRequest {
	r.dateAdded = &dateAdded
	return r
}

func (r ApiIpamAggregatesListRequest) Created(created string) ApiIpamAggregatesListRequest {
	r.created = &created
	return r
}

func (r ApiIpamAggregatesListRequest) CreatedGte(createdGte string) ApiIpamAggregatesListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiIpamAggregatesListRequest) CreatedLte(createdLte string) ApiIpamAggregatesListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiIpamAggregatesListRequest) LastUpdated(lastUpdated string) ApiIpamAggregatesListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiIpamAggregatesListRequest) LastUpdatedGte(lastUpdatedGte string) ApiIpamAggregatesListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiIpamAggregatesListRequest) LastUpdatedLte(lastUpdatedLte string) ApiIpamAggregatesListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiIpamAggregatesListRequest) TenantGroupId(tenantGroupId string) ApiIpamAggregatesListRequest {
	r.tenantGroupId = &tenantGroupId
	return r
}

func (r ApiIpamAggregatesListRequest) TenantGroup(tenantGroup string) ApiIpamAggregatesListRequest {
	r.tenantGroup = &tenantGroup
	return r
}

func (r ApiIpamAggregatesListRequest) TenantId(tenantId string) ApiIpamAggregatesListRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiIpamAggregatesListRequest) Tenant(tenant string) ApiIpamAggregatesListRequest {
	r.tenant = &tenant
	return r
}

func (r ApiIpamAggregatesListRequest) Q(q string) ApiIpamAggregatesListRequest {
	r.q = &q
	return r
}

func (r ApiIpamAggregatesListRequest) Family(family float32) ApiIpamAggregatesListRequest {
	r.family = &family
	return r
}

func (r ApiIpamAggregatesListRequest) Prefix(prefix string) ApiIpamAggregatesListRequest {
	r.prefix = &prefix
	return r
}

func (r ApiIpamAggregatesListRequest) RirId(rirId string) ApiIpamAggregatesListRequest {
	r.rirId = &rirId
	return r
}

func (r ApiIpamAggregatesListRequest) Rir(rir string) ApiIpamAggregatesListRequest {
	r.rir = &rir
	return r
}

func (r ApiIpamAggregatesListRequest) Tag(tag string) ApiIpamAggregatesListRequest {
	r.tag = &tag
	return r
}

func (r ApiIpamAggregatesListRequest) IdN(idN string) ApiIpamAggregatesListRequest {
	r.idN = &idN
	return r
}

func (r ApiIpamAggregatesListRequest) IdLte(idLte string) ApiIpamAggregatesListRequest {
	r.idLte = &idLte
	return r
}

func (r ApiIpamAggregatesListRequest) IdLt(idLt string) ApiIpamAggregatesListRequest {
	r.idLt = &idLt
	return r
}

func (r ApiIpamAggregatesListRequest) IdGte(idGte string) ApiIpamAggregatesListRequest {
	r.idGte = &idGte
	return r
}

func (r ApiIpamAggregatesListRequest) IdGt(idGt string) ApiIpamAggregatesListRequest {
	r.idGt = &idGt
	return r
}

func (r ApiIpamAggregatesListRequest) DateAddedN(dateAddedN string) ApiIpamAggregatesListRequest {
	r.dateAddedN = &dateAddedN
	return r
}

func (r ApiIpamAggregatesListRequest) DateAddedLte(dateAddedLte string) ApiIpamAggregatesListRequest {
	r.dateAddedLte = &dateAddedLte
	return r
}

func (r ApiIpamAggregatesListRequest) DateAddedLt(dateAddedLt string) ApiIpamAggregatesListRequest {
	r.dateAddedLt = &dateAddedLt
	return r
}

func (r ApiIpamAggregatesListRequest) DateAddedGte(dateAddedGte string) ApiIpamAggregatesListRequest {
	r.dateAddedGte = &dateAddedGte
	return r
}

func (r ApiIpamAggregatesListRequest) DateAddedGt(dateAddedGt string) ApiIpamAggregatesListRequest {
	r.dateAddedGt = &dateAddedGt
	return r
}

func (r ApiIpamAggregatesListRequest) TenantGroupIdN(tenantGroupIdN string) ApiIpamAggregatesListRequest {
	r.tenantGroupIdN = &tenantGroupIdN
	return r
}

func (r ApiIpamAggregatesListRequest) TenantGroupN(tenantGroupN string) ApiIpamAggregatesListRequest {
	r.tenantGroupN = &tenantGroupN
	return r
}

func (r ApiIpamAggregatesListRequest) TenantIdN(tenantIdN string) ApiIpamAggregatesListRequest {
	r.tenantIdN = &tenantIdN
	return r
}

func (r ApiIpamAggregatesListRequest) TenantN(tenantN string) ApiIpamAggregatesListRequest {
	r.tenantN = &tenantN
	return r
}

func (r ApiIpamAggregatesListRequest) RirIdN(rirIdN string) ApiIpamAggregatesListRequest {
	r.rirIdN = &rirIdN
	return r
}

func (r ApiIpamAggregatesListRequest) RirN(rirN string) ApiIpamAggregatesListRequest {
	r.rirN = &rirN
	return r
}

func (r ApiIpamAggregatesListRequest) TagN(tagN string) ApiIpamAggregatesListRequest {
	r.tagN = &tagN
	return r
}

// Number of results to return per page.
func (r ApiIpamAggregatesListRequest) Limit(limit int32) ApiIpamAggregatesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiIpamAggregatesListRequest) Offset(offset int32) ApiIpamAggregatesListRequest {
	r.offset = &offset
	return r
}

func (r ApiIpamAggregatesListRequest) Execute() (*IpamAggregatesList200Response, *http.Response, error) {
	return r.ApiService.IpamAggregatesListExecute(r)
}

/*
IpamAggregatesList Method for IpamAggregatesList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamAggregatesListRequest
*/
func (a *IpamApiService) IpamAggregatesList(ctx context.Context) ApiIpamAggregatesListRequest {
	return ApiIpamAggregatesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IpamAggregatesList200Response
func (a *IpamApiService) IpamAggregatesListExecute(r ApiIpamAggregatesListRequest) (*IpamAggregatesList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IpamAggregatesList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.dateAdded != nil {
		localVarQueryParams.Add("date_added", parameterToString(*r.dateAdded, ""))
	}
	if r.created != nil {
		localVarQueryParams.Add("created", parameterToString(*r.created, ""))
	}
	if r.createdGte != nil {
		localVarQueryParams.Add("created__gte", parameterToString(*r.createdGte, ""))
	}
	if r.createdLte != nil {
		localVarQueryParams.Add("created__lte", parameterToString(*r.createdLte, ""))
	}
	if r.lastUpdated != nil {
		localVarQueryParams.Add("last_updated", parameterToString(*r.lastUpdated, ""))
	}
	if r.lastUpdatedGte != nil {
		localVarQueryParams.Add("last_updated__gte", parameterToString(*r.lastUpdatedGte, ""))
	}
	if r.lastUpdatedLte != nil {
		localVarQueryParams.Add("last_updated__lte", parameterToString(*r.lastUpdatedLte, ""))
	}
	if r.tenantGroupId != nil {
		localVarQueryParams.Add("tenant_group_id", parameterToString(*r.tenantGroupId, ""))
	}
	if r.tenantGroup != nil {
		localVarQueryParams.Add("tenant_group", parameterToString(*r.tenantGroup, ""))
	}
	if r.tenantId != nil {
		localVarQueryParams.Add("tenant_id", parameterToString(*r.tenantId, ""))
	}
	if r.tenant != nil {
		localVarQueryParams.Add("tenant", parameterToString(*r.tenant, ""))
	}
	if r.q != nil {
		localVarQueryParams.Add("q", parameterToString(*r.q, ""))
	}
	if r.family != nil {
		localVarQueryParams.Add("family", parameterToString(*r.family, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.rirId != nil {
		localVarQueryParams.Add("rir_id", parameterToString(*r.rirId, ""))
	}
	if r.rir != nil {
		localVarQueryParams.Add("rir", parameterToString(*r.rir, ""))
	}
	if r.tag != nil {
		localVarQueryParams.Add("tag", parameterToString(*r.tag, ""))
	}
	if r.idN != nil {
		localVarQueryParams.Add("id__n", parameterToString(*r.idN, ""))
	}
	if r.idLte != nil {
		localVarQueryParams.Add("id__lte", parameterToString(*r.idLte, ""))
	}
	if r.idLt != nil {
		localVarQueryParams.Add("id__lt", parameterToString(*r.idLt, ""))
	}
	if r.idGte != nil {
		localVarQueryParams.Add("id__gte", parameterToString(*r.idGte, ""))
	}
	if r.idGt != nil {
		localVarQueryParams.Add("id__gt", parameterToString(*r.idGt, ""))
	}
	if r.dateAddedN != nil {
		localVarQueryParams.Add("date_added__n", parameterToString(*r.dateAddedN, ""))
	}
	if r.dateAddedLte != nil {
		localVarQueryParams.Add("date_added__lte", parameterToString(*r.dateAddedLte, ""))
	}
	if r.dateAddedLt != nil {
		localVarQueryParams.Add("date_added__lt", parameterToString(*r.dateAddedLt, ""))
	}
	if r.dateAddedGte != nil {
		localVarQueryParams.Add("date_added__gte", parameterToString(*r.dateAddedGte, ""))
	}
	if r.dateAddedGt != nil {
		localVarQueryParams.Add("date_added__gt", parameterToString(*r.dateAddedGt, ""))
	}
	if r.tenantGroupIdN != nil {
		localVarQueryParams.Add("tenant_group_id__n", parameterToString(*r.tenantGroupIdN, ""))
	}
	if r.tenantGroupN != nil {
		localVarQueryParams.Add("tenant_group__n", parameterToString(*r.tenantGroupN, ""))
	}
	if r.tenantIdN != nil {
		localVarQueryParams.Add("tenant_id__n", parameterToString(*r.tenantIdN, ""))
	}
	if r.tenantN != nil {
		localVarQueryParams.Add("tenant__n", parameterToString(*r.tenantN, ""))
	}
	if r.rirIdN != nil {
		localVarQueryParams.Add("rir_id__n", parameterToString(*r.rirIdN, ""))
	}
	if r.rirN != nil {
		localVarQueryParams.Add("rir__n", parameterToString(*r.rirN, ""))
	}
	if r.tagN != nil {
		localVarQueryParams.Add("tag__n", parameterToString(*r.tagN, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamAggregatesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
	data *WritableAggregate
}

func (r ApiIpamAggregatesPartialUpdateRequest) Data(data WritableAggregate) ApiIpamAggregatesPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamAggregatesPartialUpdateRequest) Execute() (*Aggregate, *http.Response, error) {
	return r.ApiService.IpamAggregatesPartialUpdateExecute(r)
}

/*
IpamAggregatesPartialUpdate Method for IpamAggregatesPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this aggregate.
 @return ApiIpamAggregatesPartialUpdateRequest
*/
func (a *IpamApiService) IpamAggregatesPartialUpdate(ctx context.Context, id int32) ApiIpamAggregatesPartialUpdateRequest {
	return ApiIpamAggregatesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Aggregate
func (a *IpamApiService) IpamAggregatesPartialUpdateExecute(r ApiIpamAggregatesPartialUpdateRequest) (*Aggregate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Aggregate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamAggregatesReadRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
}

func (r ApiIpamAggregatesReadRequest) Execute() (*Aggregate, *http.Response, error) {
	return r.ApiService.IpamAggregatesReadExecute(r)
}

/*
IpamAggregatesRead Method for IpamAggregatesRead

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this aggregate.
 @return ApiIpamAggregatesReadRequest
*/
func (a *IpamApiService) IpamAggregatesRead(ctx context.Context, id int32) ApiIpamAggregatesReadRequest {
	return ApiIpamAggregatesReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Aggregate
func (a *IpamApiService) IpamAggregatesReadExecute(r ApiIpamAggregatesReadRequest) (*Aggregate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Aggregate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamAggregatesUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
	data *WritableAggregate
}

func (r ApiIpamAggregatesUpdateRequest) Data(data WritableAggregate) ApiIpamAggregatesUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamAggregatesUpdateRequest) Execute() (*Aggregate, *http.Response, error) {
	return r.ApiService.IpamAggregatesUpdateExecute(r)
}

/*
IpamAggregatesUpdate Method for IpamAggregatesUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this aggregate.
 @return ApiIpamAggregatesUpdateRequest
*/
func (a *IpamApiService) IpamAggregatesUpdate(ctx context.Context, id int32) ApiIpamAggregatesUpdateRequest {
	return ApiIpamAggregatesUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Aggregate
func (a *IpamApiService) IpamAggregatesUpdateExecute(r ApiIpamAggregatesUpdateRequest) (*Aggregate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Aggregate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamAggregatesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/aggregates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesBulkDeleteRequest struct {
	ctx context.Context
	ApiService *IpamApiService
}

func (r ApiIpamIpAddressesBulkDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamIpAddressesBulkDeleteExecute(r)
}

/*
IpamIpAddressesBulkDelete Method for IpamIpAddressesBulkDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesBulkDeleteRequest
*/
func (a *IpamApiService) IpamIpAddressesBulkDelete(ctx context.Context) ApiIpamIpAddressesBulkDeleteRequest {
	return ApiIpamIpAddressesBulkDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *IpamApiService) IpamIpAddressesBulkDeleteExecute(r ApiIpamIpAddressesBulkDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesBulkDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamIpAddressesBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	data *WritableIPAddress
}

func (r ApiIpamIpAddressesBulkPartialUpdateRequest) Data(data WritableIPAddress) ApiIpamIpAddressesBulkPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamIpAddressesBulkPartialUpdateRequest) Execute() (*IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesBulkPartialUpdateExecute(r)
}

/*
IpamIpAddressesBulkPartialUpdate Method for IpamIpAddressesBulkPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesBulkPartialUpdateRequest
*/
func (a *IpamApiService) IpamIpAddressesBulkPartialUpdate(ctx context.Context) ApiIpamIpAddressesBulkPartialUpdateRequest {
	return ApiIpamIpAddressesBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IPAddress
func (a *IpamApiService) IpamIpAddressesBulkPartialUpdateExecute(r ApiIpamIpAddressesBulkPartialUpdateRequest) (*IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesBulkUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	data *WritableIPAddress
}

func (r ApiIpamIpAddressesBulkUpdateRequest) Data(data WritableIPAddress) ApiIpamIpAddressesBulkUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamIpAddressesBulkUpdateRequest) Execute() (*IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesBulkUpdateExecute(r)
}

/*
IpamIpAddressesBulkUpdate Method for IpamIpAddressesBulkUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesBulkUpdateRequest
*/
func (a *IpamApiService) IpamIpAddressesBulkUpdate(ctx context.Context) ApiIpamIpAddressesBulkUpdateRequest {
	return ApiIpamIpAddressesBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IPAddress
func (a *IpamApiService) IpamIpAddressesBulkUpdateExecute(r ApiIpamIpAddressesBulkUpdateRequest) (*IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesCreateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	data *WritableIPAddress
}

func (r ApiIpamIpAddressesCreateRequest) Data(data WritableIPAddress) ApiIpamIpAddressesCreateRequest {
	r.data = &data
	return r
}

func (r ApiIpamIpAddressesCreateRequest) Execute() (*IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesCreateExecute(r)
}

/*
IpamIpAddressesCreate Method for IpamIpAddressesCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesCreateRequest
*/
func (a *IpamApiService) IpamIpAddressesCreate(ctx context.Context) ApiIpamIpAddressesCreateRequest {
	return ApiIpamIpAddressesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IPAddress
func (a *IpamApiService) IpamIpAddressesCreateExecute(r ApiIpamIpAddressesCreateRequest) (*IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesDeleteRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
}

func (r ApiIpamIpAddressesDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamIpAddressesDeleteExecute(r)
}

/*
IpamIpAddressesDelete Method for IpamIpAddressesDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this IP address.
 @return ApiIpamIpAddressesDeleteRequest
*/
func (a *IpamApiService) IpamIpAddressesDelete(ctx context.Context, id int32) ApiIpamIpAddressesDeleteRequest {
	return ApiIpamIpAddressesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *IpamApiService) IpamIpAddressesDeleteExecute(r ApiIpamIpAddressesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamIpAddressesListRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id *string
	dnsName *string
	description *string
	created *string
	createdGte *string
	createdLte *string
	lastUpdated *string
	lastUpdatedGte *string
	lastUpdatedLte *string
	tenantGroupId *string
	tenantGroup *string
	tenantId *string
	tenant *string
	q *string
	family *float32
	parent *string
	address *string
	maskLength *float32
	vrfId *string
	vrf *string
	presentInVrfId *string
	presentInVrf *string
	device *string
	deviceId *string
	virtualMachine *string
	virtualMachineId *string
	interface_ *string
	interfaceId *string
	vminterface *string
	vminterfaceId *string
	assignedToInterface *string
	status *string
	role *string
	tag *string
	idN *string
	idLte *string
	idLt *string
	idGte *string
	idGt *string
	dnsNameN *string
	dnsNameIc *string
	dnsNameNic *string
	dnsNameIew *string
	dnsNameNiew *string
	dnsNameIsw *string
	dnsNameNisw *string
	dnsNameIe *string
	dnsNameNie *string
	dnsNameEmpty *string
	descriptionN *string
	descriptionIc *string
	descriptionNic *string
	descriptionIew *string
	descriptionNiew *string
	descriptionIsw *string
	descriptionNisw *string
	descriptionIe *string
	descriptionNie *string
	descriptionEmpty *string
	tenantGroupIdN *string
	tenantGroupN *string
	tenantIdN *string
	tenantN *string
	vrfIdN *string
	vrfN *string
	interfaceN *string
	interfaceIdN *string
	vminterfaceN *string
	vminterfaceIdN *string
	statusN *string
	roleN *string
	tagN *string
	limit *int32
	offset *int32
}

func (r ApiIpamIpAddressesListRequest) Id(id string) ApiIpamIpAddressesListRequest {
	r.id = &id
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsName(dnsName string) ApiIpamIpAddressesListRequest {
	r.dnsName = &dnsName
	return r
}

func (r ApiIpamIpAddressesListRequest) Description(description string) ApiIpamIpAddressesListRequest {
	r.description = &description
	return r
}

func (r ApiIpamIpAddressesListRequest) Created(created string) ApiIpamIpAddressesListRequest {
	r.created = &created
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedGte(createdGte string) ApiIpamIpAddressesListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedLte(createdLte string) ApiIpamIpAddressesListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdated(lastUpdated string) ApiIpamIpAddressesListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedGte(lastUpdatedGte string) ApiIpamIpAddressesListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedLte(lastUpdatedLte string) ApiIpamIpAddressesListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiIpamIpAddressesListRequest) TenantGroupId(tenantGroupId string) ApiIpamIpAddressesListRequest {
	r.tenantGroupId = &tenantGroupId
	return r
}

func (r ApiIpamIpAddressesListRequest) TenantGroup(tenantGroup string) ApiIpamIpAddressesListRequest {
	r.tenantGroup = &tenantGroup
	return r
}

func (r ApiIpamIpAddressesListRequest) TenantId(tenantId string) ApiIpamIpAddressesListRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiIpamIpAddressesListRequest) Tenant(tenant string) ApiIpamIpAddressesListRequest {
	r.tenant = &tenant
	return r
}

func (r ApiIpamIpAddressesListRequest) Q(q string) ApiIpamIpAddressesListRequest {
	r.q = &q
	return r
}

func (r ApiIpamIpAddressesListRequest) Family(family float32) ApiIpamIpAddressesListRequest {
	r.family = &family
	return r
}

func (r ApiIpamIpAddressesListRequest) Parent(parent string) ApiIpamIpAddressesListRequest {
	r.parent = &parent
	return r
}

func (r ApiIpamIpAddressesListRequest) Address(address string) ApiIpamIpAddressesListRequest {
	r.address = &address
	return r
}

func (r ApiIpamIpAddressesListRequest) MaskLength(maskLength float32) ApiIpamIpAddressesListRequest {
	r.maskLength = &maskLength
	return r
}

func (r ApiIpamIpAddressesListRequest) VrfId(vrfId string) ApiIpamIpAddressesListRequest {
	r.vrfId = &vrfId
	return r
}

func (r ApiIpamIpAddressesListRequest) Vrf(vrf string) ApiIpamIpAddressesListRequest {
	r.vrf = &vrf
	return r
}

func (r ApiIpamIpAddressesListRequest) PresentInVrfId(presentInVrfId string) ApiIpamIpAddressesListRequest {
	r.presentInVrfId = &presentInVrfId
	return r
}

func (r ApiIpamIpAddressesListRequest) PresentInVrf(presentInVrf string) ApiIpamIpAddressesListRequest {
	r.presentInVrf = &presentInVrf
	return r
}

func (r ApiIpamIpAddressesListRequest) Device(device string) ApiIpamIpAddressesListRequest {
	r.device = &device
	return r
}

func (r ApiIpamIpAddressesListRequest) DeviceId(deviceId string) ApiIpamIpAddressesListRequest {
	r.deviceId = &deviceId
	return r
}

func (r ApiIpamIpAddressesListRequest) VirtualMachine(virtualMachine string) ApiIpamIpAddressesListRequest {
	r.virtualMachine = &virtualMachine
	return r
}

func (r ApiIpamIpAddressesListRequest) VirtualMachineId(virtualMachineId string) ApiIpamIpAddressesListRequest {
	r.virtualMachineId = &virtualMachineId
	return r
}

func (r ApiIpamIpAddressesListRequest) Interface_(interface_ string) ApiIpamIpAddressesListRequest {
	r.interface_ = &interface_
	return r
}

func (r ApiIpamIpAddressesListRequest) InterfaceId(interfaceId string) ApiIpamIpAddressesListRequest {
	r.interfaceId = &interfaceId
	return r
}

func (r ApiIpamIpAddressesListRequest) Vminterface(vminterface string) ApiIpamIpAddressesListRequest {
	r.vminterface = &vminterface
	return r
}

func (r ApiIpamIpAddressesListRequest) VminterfaceId(vminterfaceId string) ApiIpamIpAddressesListRequest {
	r.vminterfaceId = &vminterfaceId
	return r
}

func (r ApiIpamIpAddressesListRequest) AssignedToInterface(assignedToInterface string) ApiIpamIpAddressesListRequest {
	r.assignedToInterface = &assignedToInterface
	return r
}

func (r ApiIpamIpAddressesListRequest) Status(status string) ApiIpamIpAddressesListRequest {
	r.status = &status
	return r
}

func (r ApiIpamIpAddressesListRequest) Role(role string) ApiIpamIpAddressesListRequest {
	r.role = &role
	return r
}

func (r ApiIpamIpAddressesListRequest) Tag(tag string) ApiIpamIpAddressesListRequest {
	r.tag = &tag
	return r
}

func (r ApiIpamIpAddressesListRequest) IdN(idN string) ApiIpamIpAddressesListRequest {
	r.idN = &idN
	return r
}

func (r ApiIpamIpAddressesListRequest) IdLte(idLte string) ApiIpamIpAddressesListRequest {
	r.idLte = &idLte
	return r
}

func (r ApiIpamIpAddressesListRequest) IdLt(idLt string) ApiIpamIpAddressesListRequest {
	r.idLt = &idLt
	return r
}

func (r ApiIpamIpAddressesListRequest) IdGte(idGte string) ApiIpamIpAddressesListRequest {
	r.idGte = &idGte
	return r
}

func (r ApiIpamIpAddressesListRequest) IdGt(idGt string) ApiIpamIpAddressesListRequest {
	r.idGt = &idGt
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameN(dnsNameN string) ApiIpamIpAddressesListRequest {
	r.dnsNameN = &dnsNameN
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIc(dnsNameIc string) ApiIpamIpAddressesListRequest {
	r.dnsNameIc = &dnsNameIc
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNic(dnsNameNic string) ApiIpamIpAddressesListRequest {
	r.dnsNameNic = &dnsNameNic
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIew(dnsNameIew string) ApiIpamIpAddressesListRequest {
	r.dnsNameIew = &dnsNameIew
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNiew(dnsNameNiew string) ApiIpamIpAddressesListRequest {
	r.dnsNameNiew = &dnsNameNiew
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIsw(dnsNameIsw string) ApiIpamIpAddressesListRequest {
	r.dnsNameIsw = &dnsNameIsw
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNisw(dnsNameNisw string) ApiIpamIpAddressesListRequest {
	r.dnsNameNisw = &dnsNameNisw
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIe(dnsNameIe string) ApiIpamIpAddressesListRequest {
	r.dnsNameIe = &dnsNameIe
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNie(dnsNameNie string) ApiIpamIpAddressesListRequest {
	r.dnsNameNie = &dnsNameNie
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameEmpty(dnsNameEmpty string) ApiIpamIpAddressesListRequest {
	r.dnsNameEmpty = &dnsNameEmpty
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionN(descriptionN string) ApiIpamIpAddressesListRequest {
	r.descriptionN = &descriptionN
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionIc(descriptionIc string) ApiIpamIpAddressesListRequest {
	r.descriptionIc = &descriptionIc
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionNic(descriptionNic string) ApiIpamIpAddressesListRequest {
	r.descriptionNic = &descriptionNic
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionIew(descriptionIew string) ApiIpamIpAddressesListRequest {
	r.descriptionIew = &descriptionIew
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionNiew(descriptionNiew string) ApiIpamIpAddressesListRequest {
	r.descriptionNiew = &descriptionNiew
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionIsw(descriptionIsw string) ApiIpamIpAddressesListRequest {
	r.descriptionIsw = &descriptionIsw
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionNisw(descriptionNisw string) ApiIpamIpAddressesListRequest {
	r.descriptionNisw = &descriptionNisw
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionIe(descriptionIe string) ApiIpamIpAddressesListRequest {
	r.descriptionIe = &descriptionIe
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionNie(descriptionNie string) ApiIpamIpAddressesListRequest {
	r.descriptionNie = &descriptionNie
	return r
}

func (r ApiIpamIpAddressesListRequest) DescriptionEmpty(descriptionEmpty string) ApiIpamIpAddressesListRequest {
	r.descriptionEmpty = &descriptionEmpty
	return r
}

func (r ApiIpamIpAddressesListRequest) TenantGroupIdN(tenantGroupIdN string) ApiIpamIpAddressesListRequest {
	r.tenantGroupIdN = &tenantGroupIdN
	return r
}

func (r ApiIpamIpAddressesListRequest) TenantGroupN(tenantGroupN string) ApiIpamIpAddressesListRequest {
	r.tenantGroupN = &tenantGroupN
	return r
}

func (r ApiIpamIpAddressesListRequest) TenantIdN(tenantIdN string) ApiIpamIpAddressesListRequest {
	r.tenantIdN = &tenantIdN
	return r
}

func (r ApiIpamIpAddressesListRequest) TenantN(tenantN string) ApiIpamIpAddressesListRequest {
	r.tenantN = &tenantN
	return r
}

func (r ApiIpamIpAddressesListRequest) VrfIdN(vrfIdN string) ApiIpamIpAddressesListRequest {
	r.vrfIdN = &vrfIdN
	return r
}

func (r ApiIpamIpAddressesListRequest) VrfN(vrfN string) ApiIpamIpAddressesListRequest {
	r.vrfN = &vrfN
	return r
}

func (r ApiIpamIpAddressesListRequest) InterfaceN(interfaceN string) ApiIpamIpAddressesListRequest {
	r.interfaceN = &interfaceN
	return r
}

func (r ApiIpamIpAddressesListRequest) InterfaceIdN(interfaceIdN string) ApiIpamIpAddressesListRequest {
	r.interfaceIdN = &interfaceIdN
	return r
}

func (r ApiIpamIpAddressesListRequest) VminterfaceN(vminterfaceN string) ApiIpamIpAddressesListRequest {
	r.vminterfaceN = &vminterfaceN
	return r
}

func (r ApiIpamIpAddressesListRequest) VminterfaceIdN(vminterfaceIdN string) ApiIpamIpAddressesListRequest {
	r.vminterfaceIdN = &vminterfaceIdN
	return r
}

func (r ApiIpamIpAddressesListRequest) StatusN(statusN string) ApiIpamIpAddressesListRequest {
	r.statusN = &statusN
	return r
}

func (r ApiIpamIpAddressesListRequest) RoleN(roleN string) ApiIpamIpAddressesListRequest {
	r.roleN = &roleN
	return r
}

func (r ApiIpamIpAddressesListRequest) TagN(tagN string) ApiIpamIpAddressesListRequest {
	r.tagN = &tagN
	return r
}

// Number of results to return per page.
func (r ApiIpamIpAddressesListRequest) Limit(limit int32) ApiIpamIpAddressesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiIpamIpAddressesListRequest) Offset(offset int32) ApiIpamIpAddressesListRequest {
	r.offset = &offset
	return r
}

func (r ApiIpamIpAddressesListRequest) Execute() (*IpamIpAddressesList200Response, *http.Response, error) {
	return r.ApiService.IpamIpAddressesListExecute(r)
}

/*
IpamIpAddressesList Method for IpamIpAddressesList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesListRequest
*/
func (a *IpamApiService) IpamIpAddressesList(ctx context.Context) ApiIpamIpAddressesListRequest {
	return ApiIpamIpAddressesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IpamIpAddressesList200Response
func (a *IpamApiService) IpamIpAddressesListExecute(r ApiIpamIpAddressesListRequest) (*IpamIpAddressesList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IpamIpAddressesList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.dnsName != nil {
		localVarQueryParams.Add("dns_name", parameterToString(*r.dnsName, ""))
	}
	if r.description != nil {
		localVarQueryParams.Add("description", parameterToString(*r.description, ""))
	}
	if r.created != nil {
		localVarQueryParams.Add("created", parameterToString(*r.created, ""))
	}
	if r.createdGte != nil {
		localVarQueryParams.Add("created__gte", parameterToString(*r.createdGte, ""))
	}
	if r.createdLte != nil {
		localVarQueryParams.Add("created__lte", parameterToString(*r.createdLte, ""))
	}
	if r.lastUpdated != nil {
		localVarQueryParams.Add("last_updated", parameterToString(*r.lastUpdated, ""))
	}
	if r.lastUpdatedGte != nil {
		localVarQueryParams.Add("last_updated__gte", parameterToString(*r.lastUpdatedGte, ""))
	}
	if r.lastUpdatedLte != nil {
		localVarQueryParams.Add("last_updated__lte", parameterToString(*r.lastUpdatedLte, ""))
	}
	if r.tenantGroupId != nil {
		localVarQueryParams.Add("tenant_group_id", parameterToString(*r.tenantGroupId, ""))
	}
	if r.tenantGroup != nil {
		localVarQueryParams.Add("tenant_group", parameterToString(*r.tenantGroup, ""))
	}
	if r.tenantId != nil {
		localVarQueryParams.Add("tenant_id", parameterToString(*r.tenantId, ""))
	}
	if r.tenant != nil {
		localVarQueryParams.Add("tenant", parameterToString(*r.tenant, ""))
	}
	if r.q != nil {
		localVarQueryParams.Add("q", parameterToString(*r.q, ""))
	}
	if r.family != nil {
		localVarQueryParams.Add("family", parameterToString(*r.family, ""))
	}
	if r.parent != nil {
		localVarQueryParams.Add("parent", parameterToString(*r.parent, ""))
	}
	if r.address != nil {
		localVarQueryParams.Add("address", parameterToString(*r.address, ""))
	}
	if r.maskLength != nil {
		localVarQueryParams.Add("mask_length", parameterToString(*r.maskLength, ""))
	}
	if r.vrfId != nil {
		localVarQueryParams.Add("vrf_id", parameterToString(*r.vrfId, ""))
	}
	if r.vrf != nil {
		localVarQueryParams.Add("vrf", parameterToString(*r.vrf, ""))
	}
	if r.presentInVrfId != nil {
		localVarQueryParams.Add("present_in_vrf_id", parameterToString(*r.presentInVrfId, ""))
	}
	if r.presentInVrf != nil {
		localVarQueryParams.Add("present_in_vrf", parameterToString(*r.presentInVrf, ""))
	}
	if r.device != nil {
		localVarQueryParams.Add("device", parameterToString(*r.device, ""))
	}
	if r.deviceId != nil {
		localVarQueryParams.Add("device_id", parameterToString(*r.deviceId, ""))
	}
	if r.virtualMachine != nil {
		localVarQueryParams.Add("virtual_machine", parameterToString(*r.virtualMachine, ""))
	}
	if r.virtualMachineId != nil {
		localVarQueryParams.Add("virtual_machine_id", parameterToString(*r.virtualMachineId, ""))
	}
	if r.interface_ != nil {
		localVarQueryParams.Add("interface", parameterToString(*r.interface_, ""))
	}
	if r.interfaceId != nil {
		localVarQueryParams.Add("interface_id", parameterToString(*r.interfaceId, ""))
	}
	if r.vminterface != nil {
		localVarQueryParams.Add("vminterface", parameterToString(*r.vminterface, ""))
	}
	if r.vminterfaceId != nil {
		localVarQueryParams.Add("vminterface_id", parameterToString(*r.vminterfaceId, ""))
	}
	if r.assignedToInterface != nil {
		localVarQueryParams.Add("assigned_to_interface", parameterToString(*r.assignedToInterface, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.role != nil {
		localVarQueryParams.Add("role", parameterToString(*r.role, ""))
	}
	if r.tag != nil {
		localVarQueryParams.Add("tag", parameterToString(*r.tag, ""))
	}
	if r.idN != nil {
		localVarQueryParams.Add("id__n", parameterToString(*r.idN, ""))
	}
	if r.idLte != nil {
		localVarQueryParams.Add("id__lte", parameterToString(*r.idLte, ""))
	}
	if r.idLt != nil {
		localVarQueryParams.Add("id__lt", parameterToString(*r.idLt, ""))
	}
	if r.idGte != nil {
		localVarQueryParams.Add("id__gte", parameterToString(*r.idGte, ""))
	}
	if r.idGt != nil {
		localVarQueryParams.Add("id__gt", parameterToString(*r.idGt, ""))
	}
	if r.dnsNameN != nil {
		localVarQueryParams.Add("dns_name__n", parameterToString(*r.dnsNameN, ""))
	}
	if r.dnsNameIc != nil {
		localVarQueryParams.Add("dns_name__ic", parameterToString(*r.dnsNameIc, ""))
	}
	if r.dnsNameNic != nil {
		localVarQueryParams.Add("dns_name__nic", parameterToString(*r.dnsNameNic, ""))
	}
	if r.dnsNameIew != nil {
		localVarQueryParams.Add("dns_name__iew", parameterToString(*r.dnsNameIew, ""))
	}
	if r.dnsNameNiew != nil {
		localVarQueryParams.Add("dns_name__niew", parameterToString(*r.dnsNameNiew, ""))
	}
	if r.dnsNameIsw != nil {
		localVarQueryParams.Add("dns_name__isw", parameterToString(*r.dnsNameIsw, ""))
	}
	if r.dnsNameNisw != nil {
		localVarQueryParams.Add("dns_name__nisw", parameterToString(*r.dnsNameNisw, ""))
	}
	if r.dnsNameIe != nil {
		localVarQueryParams.Add("dns_name__ie", parameterToString(*r.dnsNameIe, ""))
	}
	if r.dnsNameNie != nil {
		localVarQueryParams.Add("dns_name__nie", parameterToString(*r.dnsNameNie, ""))
	}
	if r.dnsNameEmpty != nil {
		localVarQueryParams.Add("dns_name__empty", parameterToString(*r.dnsNameEmpty, ""))
	}
	if r.descriptionN != nil {
		localVarQueryParams.Add("description__n", parameterToString(*r.descriptionN, ""))
	}
	if r.descriptionIc != nil {
		localVarQueryParams.Add("description__ic", parameterToString(*r.descriptionIc, ""))
	}
	if r.descriptionNic != nil {
		localVarQueryParams.Add("description__nic", parameterToString(*r.descriptionNic, ""))
	}
	if r.descriptionIew != nil {
		localVarQueryParams.Add("description__iew", parameterToString(*r.descriptionIew, ""))
	}
	if r.descriptionNiew != nil {
		localVarQueryParams.Add("description__niew", parameterToString(*r.descriptionNiew, ""))
	}
	if r.descriptionIsw != nil {
		localVarQueryParams.Add("description__isw", parameterToString(*r.descriptionIsw, ""))
	}
	if r.descriptionNisw != nil {
		localVarQueryParams.Add("description__nisw", parameterToString(*r.descriptionNisw, ""))
	}
	if r.descriptionIe != nil {
		localVarQueryParams.Add("description__ie", parameterToString(*r.descriptionIe, ""))
	}
	if r.descriptionNie != nil {
		localVarQueryParams.Add("description__nie", parameterToString(*r.descriptionNie, ""))
	}
	if r.descriptionEmpty != nil {
		localVarQueryParams.Add("description__empty", parameterToString(*r.descriptionEmpty, ""))
	}
	if r.tenantGroupIdN != nil {
		localVarQueryParams.Add("tenant_group_id__n", parameterToString(*r.tenantGroupIdN, ""))
	}
	if r.tenantGroupN != nil {
		localVarQueryParams.Add("tenant_group__n", parameterToString(*r.tenantGroupN, ""))
	}
	if r.tenantIdN != nil {
		localVarQueryParams.Add("tenant_id__n", parameterToString(*r.tenantIdN, ""))
	}
	if r.tenantN != nil {
		localVarQueryParams.Add("tenant__n", parameterToString(*r.tenantN, ""))
	}
	if r.vrfIdN != nil {
		localVarQueryParams.Add("vrf_id__n", parameterToString(*r.vrfIdN, ""))
	}
	if r.vrfN != nil {
		localVarQueryParams.Add("vrf__n", parameterToString(*r.vrfN, ""))
	}
	if r.interfaceN != nil {
		localVarQueryParams.Add("interface__n", parameterToString(*r.interfaceN, ""))
	}
	if r.interfaceIdN != nil {
		localVarQueryParams.Add("interface_id__n", parameterToString(*r.interfaceIdN, ""))
	}
	if r.vminterfaceN != nil {
		localVarQueryParams.Add("vminterface__n", parameterToString(*r.vminterfaceN, ""))
	}
	if r.vminterfaceIdN != nil {
		localVarQueryParams.Add("vminterface_id__n", parameterToString(*r.vminterfaceIdN, ""))
	}
	if r.statusN != nil {
		localVarQueryParams.Add("status__n", parameterToString(*r.statusN, ""))
	}
	if r.roleN != nil {
		localVarQueryParams.Add("role__n", parameterToString(*r.roleN, ""))
	}
	if r.tagN != nil {
		localVarQueryParams.Add("tag__n", parameterToString(*r.tagN, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
	data *WritableIPAddress
}

func (r ApiIpamIpAddressesPartialUpdateRequest) Data(data WritableIPAddress) ApiIpamIpAddressesPartialUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamIpAddressesPartialUpdateRequest) Execute() (*IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesPartialUpdateExecute(r)
}

/*
IpamIpAddressesPartialUpdate Method for IpamIpAddressesPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this IP address.
 @return ApiIpamIpAddressesPartialUpdateRequest
*/
func (a *IpamApiService) IpamIpAddressesPartialUpdate(ctx context.Context, id int32) ApiIpamIpAddressesPartialUpdateRequest {
	return ApiIpamIpAddressesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return IPAddress
func (a *IpamApiService) IpamIpAddressesPartialUpdateExecute(r ApiIpamIpAddressesPartialUpdateRequest) (*IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesReadRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
}

func (r ApiIpamIpAddressesReadRequest) Execute() (*IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesReadExecute(r)
}

/*
IpamIpAddressesRead Method for IpamIpAddressesRead

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this IP address.
 @return ApiIpamIpAddressesReadRequest
*/
func (a *IpamApiService) IpamIpAddressesRead(ctx context.Context, id int32) ApiIpamIpAddressesReadRequest {
	return ApiIpamIpAddressesReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return IPAddress
func (a *IpamApiService) IpamIpAddressesReadExecute(r ApiIpamIpAddressesReadRequest) (*IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesUpdateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
	data *WritableIPAddress
}

func (r ApiIpamIpAddressesUpdateRequest) Data(data WritableIPAddress) ApiIpamIpAddressesUpdateRequest {
	r.data = &data
	return r
}

func (r ApiIpamIpAddressesUpdateRequest) Execute() (*IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesUpdateExecute(r)
}

/*
IpamIpAddressesUpdate Method for IpamIpAddressesUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this IP address.
 @return ApiIpamIpAddressesUpdateRequest
*/
func (a *IpamApiService) IpamIpAddressesUpdate(ctx context.Context, id int32) ApiIpamIpAddressesUpdateRequest {
	return ApiIpamIpAddressesUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return IPAddress
func (a *IpamApiService) IpamIpAddressesUpdateExecute(r ApiIpamIpAddressesUpdateRequest) (*IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamIpAddressesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamPrefixesAvailableIpsCreateRequest struct {
	ctx context.Context
	ApiService *IpamApiService
	id int32
	data *[]AvailableIP
}

func (r ApiIpamPrefixesAvailableIpsCreateRequest) Data(data []AvailableIP) ApiIpamPrefixesAvailableIpsCreateRequest {
	r.data = &data
	return r
}

func (r ApiIpamPrefixesAvailableIpsCreateRequest) Execute() ([]AvailableIP, *http.Response, error) {
	return r.ApiService.IpamPrefixesAvailableIpsCreateExecute(r)
}

/*
IpamPrefixesAvailableIpsCreate Method for IpamPrefixesAvailableIpsCreate

A convenience method for returning available IP addresses within a prefix. By default, the number of IPs
returned will be equivalent to PAGINATE_COUNT. An arbitrary limit (up to MAX_PAGE_SIZE, if set) may be passed,
however results will not be paginated.

The advisory lock decorator uses a PostgreSQL advisory lock to prevent this API from being
invoked in parallel, which results in a race condition where multiple insertions can occur.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this prefix.
 @return ApiIpamPrefixesAvailableIpsCreateRequest
*/
func (a *IpamApiService) IpamPrefixesAvailableIpsCreate(ctx context.Context, id int32) ApiIpamPrefixesAvailableIpsCreateRequest {
	return ApiIpamPrefixesAvailableIpsCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []AvailableIP
func (a *IpamApiService) IpamPrefixesAvailableIpsCreateExecute(r ApiIpamPrefixesAvailableIpsCreateRequest) ([]AvailableIP, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AvailableIP
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamApiService.IpamPrefixesAvailableIpsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/prefixes/{id}/available-ips/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
[...]
